<br/>
<!--start heading row-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Dashboard</h1>    
  </div>
</div>
<!--end heading row-->
<br/>

<!--1st row-->
<div class="row">
  <div class="col-md-4">
    <!--container row-->
    <div class="container bgWhite shadow-md">
      <!--heading row-->
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="bottomBorder">IBD</h4>
        </div>
      </div>
      <!--end heading row-->
      <br/>
      <!--1st row-->
      <div class="row">
        <div class="col-md-2">
          <span class="fa fa-th-large" style="font-size:2em;"></span>
        </div>
        <div class="col-md-4">
          <h5>Categories</h5>
        </div>
        <div class="col-md-6 text-right">
          <h4 style="font-weight:normal;">24</h4>
        </div>
      </div>
      <!--end 1st row-->
      <br/>
      <!--2nd row-->
      <div class="row">
        <div class="col-md-2">
          <span class="fa fa-shopping-bag" style="font-size:2em;"></span>
        </div>
        <div class="col-md-4">
          <h5>Items</h5>
        </div>
        <div class="col-md-6 text-right">
          <h4 style="font-weight:normal;">1500</h4>
        </div>
      </div>
      <!--end 2nd row-->
      <br/>
    </div>
    <!--end container row-->
    <br/>
    <!--2nd container row-->
    <div class="container bgWhite shadow-md">
      <!--heading row-->
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="bottomBorder">RNP</h4>
        </div>
      </div>
      <!--end heading row-->
      <br/>
      <!--1st row-->
      <div class="row">
        <div class="col-md-2">
          <span class="fa fa-list-ul" style="font-size:2em;"></span>
        </div>
        <div class="col-md-4">
          <h5>Categories</h5>
        </div>
        <div class="col-md-6 text-right">
          <h4 style="font-weight:normal;">15</h4>
        </div>
      </div>
      <!--end 1st row-->
      <br/>
      <!--2nd row-->
      <div class="row">
        <div class="col-md-2">
          <span class="fa fa-shopping-basket" style="font-size:2em;"></span>
        </div>
        <div class="col-md-4">
          <h5>Items</h5>
        </div>
        <div class="col-md-6 text-right">
          <h4 style="font-weight:normal;">3000</h4>
        </div>
      </div>
      <!--end 2nd row-->
      <br/>
    </div>
    <!--end 2nd container row-->
    <br/>
    <!--3rd container row-->
    <div class="container bgWhite shadow-md">
      <!--heading row-->
      <div class="row">
        <div class="col-md-12">
          <h4 class="bottomBorder text-center">M.O.L</h4>
        </div>
      </div>
      <!--end heading row-->
      <br/>
      <!--1st row-->
      <div class="row">
        <div class="col-md-6">
          <h5>Panadol</h5>
        </div>
        <div class="col-md-6 text-center">
          <h4 style="font-weight:normal;">15</h4>
        </div>
      </div>
      <!--end 1st row-->
      <br/>
      <!--2nd row-->
      <div class="row">
        <div class="col-md-6">
          <h5>Blanket</h5>
        </div>
        <div class="col-md-6 text-center">
          <h4 style="font-weight:normal;">20</h4>
        </div>
      </div>
      <!--end 2nd row-->
      <br/>
      <!--3rd row-->
      <div class="row">
        <div class="col-md-6">
          <h5>Cabins</h5>
        </div>
        <div class="col-md-6 text-center">
          <h4 style="font-weight:normal;">22</h4>
        </div>
      </div>
      <!--end 3rd row-->
      <br/>
      <!--4th row-->
      <div class="row">
        <div class="col-md-6">
          <h5>Disprin</h5>
        </div>
        <div class="col-md-6 text-center">
          <h4 style="font-weight:normal;">28</h4>
        </div>
      </div>
      <!--end 4th row-->
      <br/>
      <!--5th row-->
      <div class="row">
        <div class="col-md-6">
          <h5>Kettles</h5>
        </div>
        <div class="col-md-6 text-center">
          <h4 style="font-weight:normal;">30</h4>
        </div>
      </div>
      <!--end 5th row-->
      <br/>
    </div>
    <!--end 3rd container row-->
    <br/>
  </div>
  <div class="col-md-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="info-box bg-tomato hover-expand-effect" data-toggle="modal" data-target="#userModal">
            <div class="icon">
              <i class="fa fa-cart-arrow-down"></i>
            </div>
            <div class="content">
              <div class="text">Pending Orders</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">15</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="info-box bg-orange hover-expand-effect" data-toggle="modal" data-target="#userModal">
            <div class="icon">
              <i class="fa fa-truck"></i>
            </div>
            <div class="content">
              <div class="text">Pending Delivery</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">10</div>                                                                
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="info-box bg-light-green hover-expand-effect" data-toggle="modal" data-target="#userModal">
            <div class="icon">
              <i class="fa fa-dropbox"></i>
            </div>
            <div class="content">
              <div class="text">Pending Delivers</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">3</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bgWhite shadow-md">
        <div class="row">
          <div class="col-md-12">
            <h4 class="bottomBorder">Purchases This Month</h4>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-6 text-center">
            <h4>Quantity Ordered</h4>
          </div>
          <div class="col-md-6 text-center">
            <h4>Total Cost</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <h3 style="font-weight:normal;">500</h3>
          </div>
          <div class="col-md-6 text-center">
            <h3 style="font-weight:normal;">3000</h3>
          </div>
        </div>
        <br/>
      </div>
      <br/>
      <!--circle progress bar row-->
      <div class="bgWhite shadow-md">
        <div class="row">
          <div class="col-md-6 text-center">
            <circle-progress 
              [percent]="100"
              [radius]="65"
              [space]="-10"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="-10"
              [outerStrokeColor]="'#DC143C'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="3000"
              [outerStrokeLinecap] = "'square'"
              [clockwise] = "false"
              [showSubtitle]= "true"
              [title] = "['15']"
              [subtitle] = "['Perishable Items']"
              [titleFontSize] = "'30'"
              [unitsFontSize] = "'0'" 
              [subtitleFontSize] = "'15'"
            ></circle-progress>
          </div>
          <div class="col-md-6 text-center">
            <circle-progress 
              [percent]="100"
              [radius]="65"
              [space]="-10"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="-10"
              [outerStrokeColor]="'#4882c2'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="3000"
              [outerStrokeLinecap] = "'square'"
              [clockwise] = "false"
              [showSubtitle]= "true"
              [title] = "['300']"
              [subtitle] = "['Stockable Items']"
              [titleFontSize] = "'30'"
              [unitsFontSize] = "'0'" 
              [subtitleFontSize] = "'15'"
            ></circle-progress>
          </div>
        </div>
      </div>
      <!--end circle progress bar row-->
      <br/>
      <!--chart row-->
      <div class="row">
        <div class="col-md-12">
          <!--Line chart-->
          <div class="line_chart shadow-md">
            <div [chart]="Line_chart" style=" height: 280px;width:100%;"></div>
          </div>
        </div>
      </div>
      <!--end chart row-->
      <br/>
    </div>
  </div>
</div>
<!--end 1st row-->