mat-form-field {
    width: 100%;
}

.example-card {
    max-width: 400px;
}

.example-card-r {
    max-width: 400px;
    background-color: #56BAE6;
}

.example-header-image {
    border: 0px solid #E0DEDE;
    background-image: url('../../shared/img/admin.jpg');
    background-size: cover;
}

.example-header-image-r {
    border: 0px solid #E0DEDE;
    background-image: url('../../shared/img/image.ico');
    background-size: cover;
}