<br/>
<!--start heading row-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Population</h1>    
  </div>
</div>
<!--end heading row-->
<br/>

<!--start container-->
<div class="container">
  <!--start table row-->       
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">                      
      <table class="table table-striped">
        <thead>
          <tr class='d-flex'>
            <th class='col-1'>Sr #</th>
            <th class='col-2'>Area</th>
            <th class='col-3'>City</th>
            <th class='col-3'>District</th>
            <th class='col-1'>Male</th>
            <th class='col-1'>Female</th>
            <th class='col-1 text-center'>Detail</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
          <tr class='d-flex'>
            <td class='col-1'>1</td> 
            <td class='col-2'>G-9</td>
            <td class='col-3'>Islamabad</td>
            <td class='col-3'>Islamabad</td>
            <td class='col-1'>15</td>
            <td class='col-1'>11</td>
            <td class='col-1 text-center'>
              <span class="fa fa-file-text pointerCursor" data-toggle="modal" data-target="#addFacilityModal"></span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!--end table row-->
</div>
<!--end container-->

<br/>

<!-- Start Modal Window -->
<div class="modal fade" id="addFacilityModal">
  <div class="modal-dialog shadow-md-dark modal-md">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">Population</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">

        <!--start row 1-->
        <div class="row">
          <div class="col-md-12">
            
            <!--start table row-->       
            <div class="example-container mat-elevation-z8">
              <div class="example-table-container">                      
                <table class="table table-striped">
                  <thead>
                    <tr class='d-flex'>
                      <th class='col-2'>Age</th>
                      <th class='col-5'>Male</th>
                      <th class='col-5'>Female</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        0-4
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        5-9
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        10-14
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        15-19
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                       20-24
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        25-29
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        30-34
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        35-39
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        40-49
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        50-59
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        60-69
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                    <tr class='d-flex'>
                      <td class='col-2'>
                        <br/>
                        70-80
                      </td> 
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                      <td class='col-5'>
                        <mat-form-field>
                          <input matInput>
                        </mat-form-field>
                      </td>
                    </tr>

                  <tr class='d-flex'>
                    <td class='col-2'>
                      <br/>
                      80+
                    </td> 
                    <td class='col-5'>
                      <mat-form-field>
                        <input matInput>
                      </mat-form-field>
                    </td>
                    <td class='col-5'>
                      <mat-form-field>
                        <input matInput>
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class='d-flex'>
                    <td class='col-2'>
                      Total
                    </td> 
                    <td class='col-5'>
                      Male Total
                    </td>
                    <td class='col-5'>
                      Female Total
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <!--end table row-->

          </div>
        </div>
        <!-- end row 1-->

        
        
        

        

        <br/>
        
        <!--start save button row-->
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="primary"> Save </button>
          </div>
        </div>
        <!-- end save button row-->

      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window  -->