<br>
<div class="row">

  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Company Dashboard</h1>
  </div>
</div>
<br />
<!--start company dashboard container without white background and borders-->
<!-- container -->
<div class="container">
  <!-- box row -->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-pink hover-expand-effect">
        <div class="icon">
          <i class="fa fa-window-restore"></i>
        </div>
        <div class="content">
          <div class="text">Companies</div>
          <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">12</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-cyan hover-expand-effect">
        <div class="icon">
          <i class="fa fa-link"></i>
        </div>
        <div class="content">
          <div class="text">Department</div>
          <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">5</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-light-green hover-expand-effect">
        <div class="icon">
          <i class="fa fa-server"></i>
        </div>
        <div class="content">
          <div class="text">Branch</div>
          <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">1</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-indigo hover-expand-effect">
        <div class="icon">
          <i class="fa fa-stack-overflow"></i>
        </div>
        <div class="content">
          <div class="text">Subsidiaries</div>
          <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">1</div>
        </div>
      </div>
    </div>
  </div><!-- end box row -->

</div><!-- end container -->

<br>
<!--start row-->
<div class="row">
  <!--start add new role button column-->
  <!-- <div class="col-md-12 text-right">
      <button mat-raised-button color="primary" data-toggle="modal" data-target="#companyModal">New Company</button>
    </div> -->
  <!--end add new role button column-->
</div>
<!--end row-->

<!--end company dashboard container without white background and borders-->


<!-- Start company Profile dashboard Container with organization chart -->

<!--ngprime organizational chart-->

<p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" styleClass="company">
  <ng-template let-node pTemplate="person">
    <div class="node-header ui-corner-top">{{node.label}}</div>
    <div class="node-content">
      <div>{{node.data.name}}</div>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="department">
    {{node.label}}
  </ng-template>
</p-organizationChart>
<!--ngprime organizational chart-->
