<div id="alert_msg_success" *ngIf="edited">
    Action Successfully Saved
</div>

<br>    
<div class="row">

  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Company Dashboard</h1>    
  </div>
</div>
<br/>
<!--start company dashboard container without white background and borders-->  
  <!-- containter -->
  <div class="container">
        <!-- mat-card -->
        <mat-card>
            <div class="row">
                <!--start company select box column-->
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Company Name" [(ngModel)]="cmbCompany" required>
                            <mat-option *ngFor="  let company of companies" [value]="company.cId" >
                                {{ company.cName }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--end company select box column-->        
                
                <!-- Menu bar -->
                <div class="col-md-1">
                    <button mat-raised-button color="warn" [matMenuTriggerFor]="menu" class="noneOutLine">
                        Options
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item data-toggle="modal" data-target="#companyModal" class="noneOutLine">
                            <span class="fa fa-window-restore"></span>&nbsp;&nbsp;
                            <span>New Company</span>
                        </button>
                        <button mat-menu-item data-toggle="modal" data-target="#HQModal" class='noneOutLine'>
                            <span class="fa fa-building"></span>&nbsp;&nbsp;
                            <span>Head Quarter</span>
                        </button>
                        <button mat-menu-item data-toggle="modal" data-target="#branchModal" class='noneOutLine'>
                            <span class="fa fa-server"></span>&nbsp;&nbsp;
                            <span>New Branch</span>
                        </button>
                        <button mat-menu-item data-toggle="modal" data-target="#departmentModal" class='noneOutLine'>
                            <span class="fa fa-link"></span>&nbsp;&nbsp;
                            <span>Add Department</span>
                        </button>
                        <button mat-menu-item data-toggle="modal" data-target="#sectionModal" class='noneOutLine'>
                            <span class="fa fa-puzzle-piece"></span>&nbsp;&nbsp;
                            <span>Add Section</span>
                        </button>
                        <button mat-menu-item data-toggle="modal" data-target="#subsidiaryModal" class='noneOutLine'>
                            <span class="fa fa-stack-overflow"></span>&nbsp;&nbsp;
                            <span>New Subsidiaries</span>
                        </button>
                        <button mat-menu-item data-toggle="modal" data-target="#currencyModal" class='noneOutLine'>
                            <span class="fa fa-money"></span>&nbsp;&nbsp;
                            <span>New Currency</span>
                        </button>
                    </mat-menu>
                </div>                
            </div>
        </mat-card><!-- end mat-card -->          
  </div><!-- end container -->

  <br>
  <!--start row-->  
  <div class="row">
    <!--start add new role button column-->
    <!-- <div class="col-md-12 text-right">
      <button mat-raised-button color="primary" data-toggle="modal" data-target="#companyModal">New Company</button>
    </div> -->
    <!--end add new role button column-->
  </div>
  <!--end row-->

<!--end company dashboard container without white background and borders-->


<!-- Start company Profile dashboard Container with organization chart -->

<!--ngprime organizational chart-->

<p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" styleClass="company">
    <ng-template let-node pTemplate="person">
        <div class="node-header ui-corner-top">{{node.label}}</div>
        <div class="node-content">
            <div>{{node.data.name}}</div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="department">
        {{node.label}}
    </ng-template>
</p-organizationChart>
<!--ngprime organizational chart-->

<br/>

<!--bootstrap modal window -->

<!-- Start Modal Window -->
<div class="modal fade" id="companyModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">New Company</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!--end Modal Header -->
  
        <!--start Modal body -->
        <div class="modal-body">
            <!--start horizontal Stepper -->
            <mat-horizontal-stepper linear>
                <!--start 1st Step -->
                <mat-step [stepControl]="formGroup1">
                    <!--stepper 1st label-->
                    <ng-template matStepLabel><b>Step-01</b></ng-template>
                    <!--start form control div-->
                    <form [formGroup]="formGroup1">
                        <!--start heading div-->
                        <div class="text-center">
                            <h4>Business type</h4>
                        </div>
                        <!--end heading div-->
                        <br/>
                        <!--start company type combobox row-->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select placeholder="Company Type" [(ngModel)]="cmbCType" formControlName="cmbCType" required>
                                        <mat-option *ngFor="  let type of types" [value]="type.TName" >
                                            {{ type.TName }} 
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end company type combobox row-->
                        <br>
                        <!--start next step button div-->
                        <div class="text-right">
                            <button mat-raised-button color="primary" matStepperNext (click)="allow_div()">Next</button>
                        </div>
                        <!--end next step button div-->
                    </form>
                    <!--end form control div-->
                </mat-step>
                <!--end 1st Step -->
                <!--start 2nd Step -->
                <mat-step [stepControl]="formGroup2" optional>
                    <!--stepper 2nd label-->
                    <ng-template matStepLabel><b>Step-02</b></ng-template>
                    <!--start 2nd step form control div-->
                    <form [formGroup]="formGroup2">
                        <!--start sole proprietorship div-->
                        <div *ngIf="solePro">
                            <!--sole proprietorship heading div-->
                            <div class="text-center">
                                <h4>Owner Info</h4>
                            </div>
                            <br/>
                            <!--start 1st row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="CNIC" [(ngModel)]="txtCNIC" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="NTN" [(ngModel)]="txtNTN" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 1st row-->
                            <br/>
                            <!--start 2nd row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Owner Name" [(ngModel)]="txtOName" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 2nd row-->
                            <br/>
                            <!--start 3rd row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 3rd row-->
                            <br/>
                            <!--start 4th row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 4th row-->
                            <br/>
                            <!--start 5th row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Address" [(ngModel)]="txtAddress" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 5th row-->
                        </div>
                        <!--end sole proprietorship div-->
                        <!--start partnership div-->
                        <div *ngIf="partner">
                            <!--Partnership heading div-->
                            <div class="text-center">
                                <h4>Partners Info</h4>
                            </div>
                            <br/>
                            <!--start 1st row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="CNIC" [(ngModel)]="txtCNIC" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="NTN" [(ngModel)]="txtNTN" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 1st row-->
                            <br/>
                            <!--start 2nd row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Partner Name" [(ngModel)]="txtPName" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 2nd row-->
                            <br/>
                            <!--start 3rd row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <mat-select placeholder="Partner Role" [(ngModel)]="cmbPRole" required>
                                            <mat-option value="Sleeping Partner" >
                                                Sleeping Partner
                                            </mat-option>
                                            <mat-option value="Active Partner" >
                                                Active Partner
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 3rd row-->
                            <br/>
                            <!--start 4th row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Share" [(ngModel)]="txtShare" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 4th row-->
                            <br/>
                            <!--start 5th row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                                    </mat-form-field>
                                </div>
                            </div>   
                            <!--end 5th row-->             
                            <br/>
                            <!--start 6th row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Address" [(ngModel)]="txtAddress" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 6th row-->
                            <br/>
                            <!--start 7th button row-->
                            <div class="row">
                                <button mat-raised-button color="primary">Add</button>
                            </div>
                            <!--end 7th button row-->
                            <br/>
                            <!--start table row with container-->
                            <div class="example-container mat-elevation-z8 fullwidth">
                                <div class="example-table-container fullwidth">            
                                    <table class="table table-striped fullwidth">
                                        <thead>
                                            <tr class='d-flex'>
                                            <th class='col-1'>Sr No.</th>
                                            <th class='col-3'>Partner Name</th>
                                            <th class='col-3'>Partner Role</th>
                                            <th class="col-2">Action</th>          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of pertnerDetail" class='d-flex'>
                                            <td class="col-1">{{item.partnerId}}</td>
                                            <td class="col-2">{{item.PartnerName}}</td>
                                            <td class="col-2">{{item.PartnerRole}}</td>
                                            <td class="col-2"><span class="fa fa-edit" (click)="edit(item)"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-trash" (click)="del(item)"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end table row with container-->
                            <br/>
                        </div>
                        <!--end partnership div-->
                        <!--start Public / Private Limited Company div-->
                        <div *ngIf="ppCom">
                            <!--Public / Private Limited Company heading div -->
                            <div class="text-center">
                                <h4>Board of Director</h4>
                            </div>
                            <br/>
                            <!--start 1st row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="CNIC" [(ngModel)]="txtCNIC" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="NTN" [(ngModel)]="txtNTN" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 1st row-->
                            <br/>
                            <!--start 2nd row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Director Name" [(ngModel)]="txtOName" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 2nd row-->
                            <br/>
                            <!--start 3rd row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <mat-select placeholder="Position" [(ngModel)]="cmbPosition" required>
                                            <mat-option value="CEO" >Chief Executive Officer</mat-option>
                                            <mat-option value="COO" >Chief Operating Officer</mat-option>
                                            <mat-option value="CFO" >Chief Financial Officer</mat-option>
                                            <mat-option value="Secretary" >Secretary</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 3rd row-->
                            <br/>
                            <!--start 4th row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Share" [(ngModel)]="txtShare" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 4th row-->
                            <br/>
                            <!--start 5th row-->
                            <div class="row">
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">            
                                    <mat-form-field>
                                        <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                                    </mat-form-field>
                                </div>
                            </div>   
                            <!--end 5th row-->             
                            <br/>
                            <!--start 6th row-->
                            <div class="row">
                                <div class="col-md-12">            
                                    <mat-form-field>
                                        <input matInput placeholder="Address" [(ngModel)]="txtAddress" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--end 6th row-->
                        </div>
                        <!--end Public/Private Limited Company div-->
                        <br/>  
                        <!--start next step button div -->
                        <div class="text-right">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                        <!--end next step button div -->
                    </form>
                    <!--end 2nd step form control div-->
                </mat-step>
                <!--end 2nd Step -->
                <!--start 3rd Step -->
                <mat-step [stepControl]="formGroup3" optional>
                    <!--stepper 3rd label-->
                    <ng-template matStepLabel><b>Step-03</b></ng-template>
                    <!--start 3rd step form control div-->
                    <form [formGroup]="formGroup3">
                        <!--3rd step heading div-->
                        <div class="text-center">
                            <h4>Business Info</h4>
                        </div>
                        <br/>
                        <!--start 1st row-->
                        <div class="row">
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="NTN" [(ngModel)]="txtNTN" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="STRN" [(ngModel)]="txtSTRN" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 1st row-->
                        <br/>
                        <!--start 2nd row-->
                        <div class="row">
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="Title" [(ngModel)]="txtTitle" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="Nature" [(ngModel)]="txtNature" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 2nd row-->
                        <br/>
                        <!--start 3rd row-->
                        <div class="row">
                            <div class="col-md-12">            
                                <mat-form-field>
                                    <input matInput placeholder="Description" [(ngModel)]="txtDescription" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 3rd row-->
                        <br/>
                        <!--start 4th row-->
                        <div class="row">
                            <div class="col-md-12">            
                                <mat-form-field>
                                    <input matInput placeholder="Business Address" [(ngModel)]="txtBAddress" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 4th row-->
                        <br/>
                        <!--start 5th row-->
                        <div class="row">
                            <div class="col-md-12">            
                                <mat-form-field>
                                    <input matInput placeholder="Mailing Address" [(ngModel)]="txtMAddress" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 5th row-->
                        <br/>
                        <!--start 6th row-->
                        <div class="row">
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 6th row-->
                        <br/>
                        <!--start 7th row-->
                        <div class="row">
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">            
                                <mat-form-field>
                                    <input matInput placeholder="Website" [(ngModel)]="txtWebsite" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--end 7th row-->
                        <br/>
                        <!--start 8th row-->
                        <div class="row">
                            <div class="col-md-12">            
                                <mat-form-field>
                                    <input matInput placeholder="Facebook ID" [(ngModel)]="txtfacebook" required>
                                </mat-form-field>
                            </div>
                        </div>    
                        <!--end 8th row-->
                        <br/>
                        <!--button tag-->
                        <button mat-raised-button color="primary" data-dismiss="modal" (click)="save()">Save</button>
                    </form>
                    <!--end 3rd step form control div-->
                </mat-step>
                <!--end 3rd Step -->
            </mat-horizontal-stepper>
            <!--end horizontal Stepper -->
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window  -->



<!-- Start head quarter Modal Window -->
<div class="modal fade" id="HQModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Head Quarter</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end Modal Header -->
    
        <!--start Modal body -->
        <div class="modal-body">
            <!--start 1st row-->
            <div class="row">
                <div class="col-md-12">            
                    <mat-form-field>
                        <input matInput placeholder="Office Title" [(ngModel)]="txtTitle" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 1st row-->
            <br/>
            <!--start 2nd row-->
            <div class="row">
                <div class="col-md-12">            
                    <mat-form-field>
                        <input matInput placeholder="Address" [(ngModel)]="txtAddress" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 2nd row-->
            <br/>
            <!--start 3rd row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 3rd row-->
            <br/>
            <!--start 4th row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Website" [(ngModel)]="txtWebsite" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 4th row-->
            <br/>
            <!--button tag-->
            <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveHQ()">Save</button>
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End head quarter Modal Window  -->

    
<!-- Start branch Modal Window -->
<div class="modal fade" id="branchModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Branch</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end Modal Header -->
    
        <!--start Modal body -->
        <div class="modal-body">
            <!--start 1st row-->
            <div class="row">
                <div class="col-md-12">            
                    <mat-form-field>
                        <input matInput placeholder="Branch Title" [(ngModel)]="txtTitle" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 1st row-->
            <br/>
            <!--start 2nd row-->
            <div class="row">
                <div class="col-md-12">            
                    <mat-form-field>
                        <input matInput placeholder="Address" [(ngModel)]="txtAddress" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 2nd row-->
            <br/>
            <!--start 3rd row-->
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-select placeholder="City Name" [(ngModel)]="cmbCity" required>
                            <mat-option *ngFor="  let city of cities" [value]="city.cId" >
                                {{ city.cName }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <button mat-fab color="primary" data-toggle="modal" data-target="#cityModal"><span class="fa fa-plus"></span></button>        
                </div>                
            </div>
            <!--end 3rd row-->
            <br/>
            <!--start 4th row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 4th row-->
            <br/>
            <!--start 5th row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Website" [(ngModel)]="txtWebsite" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 5th row-->
            <br/>
            <!--button tag-->
            <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveBranch()">Save</button>
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End branch Modal Window  -->

  
<!-- Start Department Modal Window -->
<div class="modal fade" id="departmentModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">

            <!--start Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Department</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--end Modal Header -->

            <!--start Modal body -->
            <div class="modal-body">
                <br>
                <!-- row - 01 -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-select placeholder="Head Quarter / Branch">
                                <mat-option>Head Quarter</mat-option>
                                <mat-option value="option1">Lahore Branch</mat-option>
                                <mat-option value="option2">Multan Branch</mat-option>
                                <mat-option value="option3">Rawalpindi Branch</mat-option>
                            </mat-select>
                        </mat-form-field>    
                    </div>                    
                </div><!-- end row - 01 -->
                    
                <!-- row - 02 -->
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field>
                            <mat-select placeholder="Department Name">
                                <mat-option>Production</mat-option>
                                <mat-option value="option1">Finance</mat-option>
                                <mat-option value="option2">HR & Admin</mat-option>
                                <mat-option value="option3">Marketing</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <button mat-fab class='noneOutLine' data-toggle="modal" data-target="#deptModal"><span class="fa fa-plus"></span></button>
                    </div>                    
                </div><!-- end row - 02 -->

                <!-- row - 03 -->
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveBranch()">Save</button>
                    </div>
                </div><!-- end row - 03 -->
            </div>
            <!--end Modal body -->

            <!--start Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End Department Modal Window  -->
    
<!-- Start Subsidiary Modal Window -->
<div class="modal fade" id="subsidiaryModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">New Subsidiary</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end Modal Header -->
    
        <!--start Modal body -->
        <div class="modal-body">
            <!--start 1st row-->
            <div class="row">
                <div class="col-md-12">            
                    <mat-form-field>
                        <input matInput placeholder="Subsidiary Title" [(ngModel)]="txtTitle" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 1st row-->
            <br/>

            <!-- start 2nd row -->
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="NTN" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="STRN" required>
                    </mat-form-field>
                </div>
            </div><!-- end 2nd row -->
            <br>

            <!-- start 3rd row -->
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>                        
                        <mat-select placeholder="Subsidiary Type">
                            <mat-option>Sole proprietorship</mat-option>
                            <mat-option value="option1">partnership</mat-option>
                            <mat-option value="option2">Private Limited Company</mat-option>
                            <mat-option value="option3">Public Limited Company</mat-option>
                        </mat-select>                        
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Representator" required>
                    </mat-form-field>
                </div>
            </div><!-- end 3rd row -->
            <br>

            <!--start 4th row-->
            <div class="row">
                <div class="col-md-12">            
                    <mat-form-field>
                        <input matInput placeholder="Address" [(ngModel)]="txtAddress" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 4th row-->

            <br/>
            <!--start 5th row-->
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-select placeholder="City Name" [(ngModel)]="cmbCity" required>
                            <mat-option *ngFor="  let city of cities" [value]="city.cId" >
                                {{ city.cName }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <button mat-fab data-toggle="modal" data-target="#cityModal"><span class="fa fa-plus"></span></button>        
                </div>                
            </div>
            <!--end 5th row-->
            <br/>
            <!--start 6th row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="txtEmail" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Telephone" [(ngModel)]="txtTelephone" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 6th row-->
            <br/>
            <!--start 7th row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Mobile" [(ngModel)]="txtMobile" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Website" [(ngModel)]="txtWebsite" required>
                    </mat-form-field>
                </div>
            </div>
            <!--end 7th row-->
            <br>
            <!--start 7th row-->
            <div class="row">
                <div class="col-md-6">            
                    <mat-form-field>
                        <input matInput placeholder="Fax Number" [(ngModel)]="txtMobile" required>
                    </mat-form-field>
                </div>
                <div class="col-md-4">            
                    <mat-form-field>
                        <input matInput placeholder="Upload Agreement" required>                        
                    </mat-form-field>                    
                </div>
                <div class="col-md-1">
                    <button mat-raised-button class="noneOutLine">...</button>
                </div>
            </div>
            <!--end 7th row-->
            <br/>
            <!--button tag-->
            <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveBranch()">Save</button>
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End Subsidiary Modal Window  -->
 
<!-- Start Department Modal Window -->
<div class="modal fade" id="sectionModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">

            <!--start Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Section</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--end Modal Header -->

            <!--start Modal body -->
            <div class="modal-body">
                <br>
                <!-- row - 01 -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-select placeholder="Head Quarter / Office">
                                <mat-option>Head Quarter</mat-option>
                                <mat-option value="option1">Lahore Branch</mat-option>
                                <mat-option value="option2">Multan Branch</mat-option>
                                <mat-option value="option3">Rawalpindi Branch</mat-option>
                            </mat-select>
                        </mat-form-field>    
                    </div>                    
                </div><!-- end row - 01 -->

                <!-- row - 02 -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-select placeholder="Department">
                                <mat-option>Department</mat-option>
                                <mat-option value="option1">Finance</mat-option>
                                <mat-option value="option2">HR & Admin</mat-option>
                                <mat-option value="option3">Marketing</mat-option>
                            </mat-select>
                        </mat-form-field>    
                    </div>                    
                </div><!-- end row - 02 -->
                    
                <!-- row - 03 -->
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field>
                            <mat-select placeholder="Section Name">
                                <mat-option>Section</mat-option>
                                <mat-option value="option1">Security</mat-option>
                                <mat-option value="option2">Audit</mat-option>
                                <mat-option value="option3">Tax</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <button mat-fab class='noneOutLine' data-toggle="modal" data-target="#sectModal"><span class="fa fa-plus"></span></button>
                    </div>                    
                </div><!-- end row - 03 -->

                <!-- row - 03 -->
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveSection()">Save</button>
                    </div>
                </div><!-- end row - 03 -->
            </div>
            <!--end Modal body -->

            <!--start Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End Department Modal Window  -->
    

<!-- Start AddCity Modal Window -->
<div class="modal fade" id="cityModal">
    <div class="modal-dialog shadow-lg-dark modal-md">
        <div class="modal-content">

            <!--start Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add City</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--end Modal Header -->

            <!--start Modal body -->
            <div class="modal-body">
                <!--start 1st row-->
                <div class="row">
                    <div class="col-md-12">            
                        <mat-form-field>
                            <input matInput placeholder="City Name" [(ngModel)]="txtCity" required>
                        </mat-form-field>
                    </div>
                </div>
                <!--end 1st row-->
                <br/>
                <!--button tag-->
                <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveCity()">Save</button>
            </div>
            <!--end Modal body -->

            <!--start Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End add city Modal Window  -->
    
<!-- Start AddDept Modal Window -->
<div class="modal fade" id="deptModal">
    <div class="modal-dialog shadow-lg-dark modal-md">
        <div class="modal-content">

            <!--start Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Department</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--end Modal Header -->

            <!--start Modal body -->
            <div class="modal-body">
                <!--start 1st row-->
                <div class="row">
                    <div class="col-md-12">            
                        <mat-form-field>
                            <input matInput placeholder="Department Name" [(ngModel)]="txtCity" required>
                        </mat-form-field>
                    </div>
                </div>
                <!--end 1st row-->
                <br/>
                <!--button tag-->
                <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveCity()">Save</button>
            </div>
            <!--end Modal body -->

            <!--start Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End add city Modal Window  -->

  
<!-- Start AddDept Modal Window -->
<div class="modal fade" id="sectModal">
    <div class="modal-dialog shadow-lg-dark modal-md">
        <div class="modal-content">

            <!--start Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Section</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--end Modal Header -->

            <!--start Modal body -->
            <div class="modal-body">
                <!--start 1st row-->
                <div class="row">
                    <div class="col-md-12">            
                        <mat-form-field>
                            <input matInput placeholder="Section Name" [(ngModel)]="txtSection" required>
                        </mat-form-field>
                    </div>
                </div>
                <!--end 1st row-->
                <br/>
                <!--button tag-->
                <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveSection()">Save</button>
            </div>
            <!--end Modal body -->

            <!--start Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End add city Modal Window  -->

    

<!-- Start AddCity Modal Window -->
<div class="modal fade" id="currencyModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">
        <!--start Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Currency</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->

        <!--start Modal body -->
        <div class="modal-body">
            <!--start 1st row-->
            <div class="row">
            <div class="col-md-6">            
                <mat-form-field class="fullwidth">
                <input matInput placeholder="Currency Name" [(ngModel)]="txtCurrency" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">            
                <mat-form-field class="fullwidth">
                <input matInput placeholder="Country Name" [(ngModel)]="txtCountry" required>
                </mat-form-field>
            </div>
            </div>
            <!--end 1st row-->
            <br/>
            <!--button tag-->
            <button mat-raised-button color="primary" data-dismiss="modal" (click)="saveCurrency()">Save</button>
            <br/><br/>
            <!--start table row with container-->
            <div class="example-container mat-elevation-z8 fullwidth">
            <div class="example-table-container fullwidth">            
                <table class="table table-striped fullwidth">
                <thead>
                    <tr class='d-flex'>
                    <th class='col-3'>Sr No.</th>
                    <th class='col-4'>Currency Name</th>
                    <th class='col-4'>Country Name</th>          
                    </tr>
                </thead>
                <tbody>
                    <tr class='d-flex'>
                    <!-- <tr *ngFor="let item of currencyDetail" class='d-flex'> -->
                    <td class='col-3'>1</td>
                    <td class='col-4'>Dollar</td>
                    <td class='col-4'>America</td>
                    </tr>
                    <tr class='d-flex'>
                    <td class='col-3'>2</td>
                    <td class='col-4'>Rupee</td>
                    <td class='col-4'>Pakistan</td>
                    </tr>
                    <tr class='d-flex'>
                    <td class='col-3'>3</td>
                    <td class='col-4'>Pound</td>
                    <td class='col-4'>England</td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
            <!--end table row with container-->
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->
        </div>
    </div>
</div>
<!-- End add city Modal Window  -->

  