<!--The content below is only a placeholder and can be replaced.-->

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <!-- Side Menu Title -->
        <div class="row">
            <div class="col-md-12 bg-light-green">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" routerLink='' class="noneOutLine bg-light-green sideMenuHome rightBorderWhite"  mat-flat-button>
                            <span class="fa fa-home"></span>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <p style="margin-top: 1.0em !important">FMIS - Menu</p>
                    </div>
                </div>                
            </div>        
        </div><!-- end Side Menu Title -->
        <br>

        <!-- Circle Log -->
        <div class="row">
            <div class="col-md-12 mx-auto">                
                <img class="mx-auto d-block" src="../assets/images/logo.png" alt="" width="100em" height="100em">                
            </div>
        </div><!--end Circle Logo -->        
        <br>
        <!-- UMIS Menu -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav">
                    <li routerLinkActive='active'>
                        <a routerLink=''>
                            <span class="fa fa-tachometer"></span>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink='budget'>
                            <span class="fa fa-money"></span>
                            <span class="text">Budgeting</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink='coa'>
                            <span class="fa fa-user-circle"></span>
                            <span class="text">G/L Accounts</span>
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="bankAccount">
                            <span class="fa fa-university"></span>
                            <span class="text">Bank Accounts</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="taxSection">
                            <span class="fa fa-scissors"></span>
                            <span class="text">Tax Sections</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="payment">
                            <span class="fa fa-shopping-cart"></span>
                            <span class="text">Payment Transactions</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="receipt">
                            <span class="fa fa-file-text-o"></span>
                            <span class="text">Receipt Transactions</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="adjustment">
                            <span class="fa fa-wrench"></span>
                            <span class="text">Adjustmment Transactions</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="fixAsset">
                            <span class="fa fa-gg"></span>
                            <span class="text">Fix Asset Register</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="ledger">
                            <span class="fa fa-list"></span>
                            <span class="text">Ledger Accounts</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="trailbalance">
                            <span class="fa fa-balance-scale"></span>
                            <span class="text">Trial Balance</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="bankRecon">
                            <span class="fa fa-handshake-o"></span>
                            <span class="text">Bank Reconciliation</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="incomeStatement">
                            <span class="fa fa-line-chart"></span>
                            <span class="text">Income Statement</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="balanceSheet">
                            <span class="fa fa-bar-chart"></span>
                            <span class="text">Balance Sheet</span>    
                        </a>
                    </li>
                    <li routerLinkActive='active'>
                        <a routerLink="cashFlow">
                            <span class="fa fa-recycle"></span>
                            <span class="text">Cash Flow Statement</span>    
                        </a>
                    </li>
                </ul>
            </div>
            
        </div><!-- end UMIS Menu -->

    </mat-drawer>
   
    <div class="example-sidenav-content">
        <div class="row bgWhite bottomBorder">
            <div class="col-md-1">
                <button type="button" class="noneOutLine"  mat-flat-button color="warn" (click)="drawer.toggle()">
                    <span class="fa fa-bars sideMenubar"></span>
                </button>
            </div>
            <div class="col-md-5">
                <h4>FMIS</h4>
            </div>
            <div class="col-md-6 text-right">
                <button mat-button [matMenuTriggerFor]="menu" class="noneOutLine">
                    Haroon Qadeer
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="noneOutLine" routerLink="">
                        <!-- <mat-icon>dialpad</mat-icon> -->
                        <span class="fa fa-sign-out"></span>
                        <span>  Log out</span>
                    </button>
                    <button mat-menu-item class="noneOutLine" (click)=showBottom()>
                        <!-- <mat-icon>voicemail</mat-icon> -->
                        <span class="fa fa-sitemap"></span>
                        <span>  Modules</span>
                    </button>                
                </mat-menu>
            </div>
            
        </div>
        
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
