<br>
<div class="row">

  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Head Quarter</h1>
  </div>
</div>
<br />

<!-- button row -->
<div class="row">
  <div class="col-md-6">
    <button class="noneOutline" mat-raised-button color="warn">Print</button>
  </div>
  <div class="col-md-6 text-right">
    <button mat-raised-button color="primary" data-toggle="modal" data-target="#HQModal" (click)="clear()">Add New</button>
  </div>
</div><!-- end button - row -->

<br>

<!-- Table Section Starts -->
<div class="container mat-elevation-z8">
  <br>
  <!--Start search textbox Row-->
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="fullwidth">
        <input matInput [(ngModel)]="tblSearch" placeholder=" Search">
      </mat-form-field>
      <i class="fab fa-accessible-icon"></i>
    </div>
  </div>
  <!--end search textbox Row-->
  <div class="row">
    <table class="table table-striped fullwidth">
      <thead>
        <tr class="d-flex">
          <th class="col-1 text-center">Sr. #</th>
          <th [class.active]="order === 'offcTitle'" (click)="setOrder('offcTitle')" class="col-2 text-left">
            Office Title
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'offcAddress'" (click)="setOrder('offcAddress')" class="col-2 text-left">
            Address
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'offcEmail'" (click)="setOrder('offcEmail')" class="col-2 text-left">
            Email
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'offcPhone'" (click)="setOrder('offcPhone')" class="col-1 text-left">
            Phone
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <!-- <th [class.active]="order === 'offcMobile'" (click)="setOrder('offcMobile')" class="col-1 text-left">
            Mobile
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th> -->
          <th [class.active]="order === 'offcWebsite'" (click)="setOrder('offcWebsite')" class="col-2 text-left">
            Website
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th class="col-2 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let office of offices | search:'offcId,offcTitle,offcAddress,offcEmail,offcPhone,offcMobile,offcWebsite':tblSearch | paginate: { itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index">
          <td class="col-1 text-center">{{i+1}}</td>
          <td class="col-2 text-left">{{office.offcTitle}}</td>
          <td class="col-2 text-left">{{office.offcAddress}}</td>
          <td class="col-2 text-left">{{office.offcEmail}}</td>
          <td class="col-1 text-left">{{office.offcPhone}}</td>
          <!-- <td class="col-1 text-left">{{office.offcMobile}}</td> -->
          <td class="col-2 text-left">{{office.offcWebsite}}</td>
          <td class="col-1 text-right"><span data-toggle="modal" data-target="#HQModal" class="pointerCursor fa fa-edit text-primary"
              (click)="edit(office)"></span></td>
          <td class="col-1 text-left"><span data-toggle="modal" data-target="#deleteModal" class="pointerCursor fa fa-trash text-danger"
              (click)="deleteTemp(office)"></span></td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination Starts -->
    <div class="col-md-10">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-2 text-right">
      <mat-form-field class="fullwidth pagenateList">
        <mat-select placeholder="Items Per Page" [(ngModel)]="itemPerPage">
          <mat-option value="10">10</mat-option>
          <mat-option value="15">15</mat-option>
          <mat-option value="20">20</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="30">30</mat-option>
          <mat-option value="35">35</mat-option>
          <mat-option value="40">40</mat-option>
          <mat-option value="45">45</mat-option>
          <mat-option value="50">50</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Pagination Ends -->
  </div>
</div>
<!-- Table Section Ends -->

<!-- Start head quarter Modal Window -->
<div class="modal fade" id="HQModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Head Quarter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        <!--start 1st row-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="officeTitle" placeholder="Office Title" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 1st row-->
        <br />
        <!--start 2nd row-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="officeAddress" placeholder="Address" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 2nd row-->
        <br />
        <!--start 3rd row-->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="officeEmail" placeholder="Email" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="officePhone" placeholder="Phone" mask="000-0000000" [showMaskTyped]="true"
                required>
            </mat-form-field>
          </div>
        </div>
        <!--end 3rd row-->
        <br />
        <!--start 4th row-->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="officeMobile" placeholder="Mobile" mask="0000-0000000" [showMaskTyped]="true"
                required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="officeWebsite" placeholder="Website" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 4th row-->
        <br />
        <!--button tag Row Starts-->
        <div class="row">
          <div class="col-md-1 text-left">
            <button mat-raised-button color="primary" (click)="saveHQ()">Save</button>

          </div>
          <div class="col-md-2 text-center">
            <button mat-raised-button (click)="clear()">Reset</button>
          </div>
        </div>
        <!-- Button tag Row Ends -->
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End head quarter Modal Window  -->

<!-- Delete Head Quarter Modal Window Starts -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark modal-md">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        <!--start 1st row-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="userPassword" type="password" placeholder="Enter Password" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 1st row-->
        <br />
        <!--start 2nd row-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput [(ngModel)]="userPINCode" type="password" placeholder="Enter PIN Code" required>
            </mat-form-field>
          </div>
        </div>
        <!--end 2nd row-->
        <br />
        <!--button tag-->
        <button mat-raised-button color="warn" (click)="delete()">Delete</button>
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- Delete Head Quarter Modal Window Ends -->
