<!-- start menubar buttons -->
<div class="topnav boxShadow">
  <div>
    <!--class="container" -->
    <div class="logo"><img src="../../../assets/images/skills.svg"></div>
    <h1> Leave Rules</h1>

    <a class="pointerCursor" (click)="downloadExcel()">
      <i class="fa fa-file-excel-o"></i>
      Excel
    </a>

    <a class="pointerCursor" (click)="downloadCSV()">
      <i class="fa fa-file-text-o"></i>
      CSV
    </a>

    <a class="pointerCursor" (click)="downPDF()">
      <i class="fa fa-file-pdf-o"></i>
      PDF
    </a>

    <a class="pointerCursor" (click)="printDiv()">
      <i class="fa fa-print"></i>
      Print
    </a>

    <a class="pointerCursor" data-toggle="modal" data-target="#newRuleModal" (click)="clear()">
      <i class="fa fa-plus-square"></i>
      Add New
    </a>

  </div>
</div>
<br /><br />
<!-- end menubar buttons -->



<!--start container-->
<div class="container">
  <!--start table row-->
  <div class="example-container mat-elevation-z8 bgWhite">
    <div class="example-table-container">
      <table class="table table-striped">
        <thead>
          <tr class='d-flex'>
            <th class='col-1 text-center'>Sr #</th>

            <th class='col-md-2' [class.active]="order === 'leaveTypeName'" (click)="setOrder('leaveTypeName')">
              Leave Type
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>

            <th class='col-2' [class.active]="order === 'leaveNatureName'" (click)="setOrder('leaveNatureName')">
              Nature
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>

            <th class='col-2' [class.active]="order === 'leaveLmtAmoUNt'" (click)="setOrder('leaveLmtAmoUNt')">
              Leave Limit
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>

            <th class='col-2' [class.active]="order === 'leaveLmtName'" (click)="setOrder('leaveLmtName')">
              Per month/annum
              <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
              <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
            </th>

            <th class='col-1 text-center'>Edit</th>
            <th class='col-1 text-center'>Detail</th>
            <th class='col-1 text-center'>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of leaveRuleList |
            search:'leaveTypeName,leaveNatureName,leaveLmtAmoUNt,leaveLmtName':tblSearch | paginate: {
              itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive' let i=index"
            class='d-flex'>
            <td class='col-1 text-center'>{{i + 1}}</td>
            <td class='col-2'>{{item.leaveTypeName}}</td>
            <td class='col-2'>{{item.leaveNatureName}}</td>
            <td class='col-2'>{{item.leaveLmtAmoUNt}}</td>
            <td class='col-2'>{{item.leaveLmtName}}</td>
            <td class='col-1 text-center'>
              <span class="fa fa-edit pointerCursor" data-toggle="modal" data-target="#newRuleModal"
                (click)="edit(item)"></span>
            </td>
            <td class='col-1 text-center'>
              <span class="fa fa-file-text pointerCursor"></span>
              <!-- data-toggle="modal" data-target="#detailModal" -->
            </td>
            <td class='col-1 text-center'>
              <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"
                (click)="deleteTemp(item)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row tab-margin">
      <div class="col-md-10">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="col-md-2 text-right">
        <mat-form-field class="fullwidth pagenateList">
          <mat-select placeholder="Items Per Page" [(ngModel)]="itemPerPage">
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="35">35</mat-option>
            <mat-option value="40">40</mat-option>
            <mat-option value="45">45</mat-option>
            <mat-option value="50">50</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!--end table row-->

</div>
<!--end container -->



<!-- Start Modal Window to delete leave rule -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">
      <!--start Modal body -->
      <div class="modal-body">
        <br>
        <div class="hidden" [(ngModel)]="leaveId" ngDefaultControl></div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <h2>Delete Leave Rule</h2>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
            </mat-form-field>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="warn" (click)="delete()">Delete</button>
          </div>
        </div>
        <br />
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to delete leave rule -->



<!-- Start Modal Window for leave detail -->
<div class="modal fade" id="detailModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Leave Rule Detail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        <!--1st row-->
        <div class="row">
          <div class="col-md-3"><b>Leave Type: </b></div>
          <div class="col-md-3">Casual Leave</div>
          <div class="col-md-3"><b>Nature: </b></div>
          <div class="col-md-3">W.P</div>
        </div>
        <!--end 1st row-->
        <br />
        <!--2nd row-->
        <div class="row">
          <div class="col-md-3">
            <b>Limit:</b>
          </div>
          <div class="col-md-1 text-right">
            <h5 style="font-weight: normal;">2</h5>
          </div>
          <div class="col-md-2 text-left">
            /per month
          </div>
        </div>
        <!--end 2nd row-->
        <br />
        <!--table row-->
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr class='d-flex'>
                <th class='col-1 text-center'>Sr #</th>
                <th class='col-5'>Job Profile</th>
                <th class='col-2 text-center'>Basic Pay</th>
                <th class='col-2 text-center'>Allowance</th>
                <th class='col-2 text-center'>Deduction</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
              <tr class='d-flex'>
                <td class='col-1 text-center'>1</td>
                <td class='col-5'>Accountant</td>
                <td class='col-2 text-center'>5%</td>
                <td class='col-2 text-center'>2%</td>
                <td class='col-2 text-center'>4%</td>
              </tr>
              <tr class='d-flex'>
                <td class='col-1 text-center'>2</td>
                <td class='col-5'>Assistant</td>
                <td class='col-2 text-center'>7%</td>
                <td class='col-2 text-center'>3%</td>
                <td class='col-2 text-center'>6%</td>
              </tr>
              <tr class='d-flex'>
                <td class='col-1 text-center'>3</td>
                <td class='col-5'>Computer Operator</td>
                <td class='col-2 text-center'>3%</td>
                <td class='col-2 text-center'>3%</td>
                <td class='col-2 text-center'>2%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--end table row-->
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window for leave detail -->



<!-- Start Modal Window for add new rule -->
<div class="modal fade" id="newRuleModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">

      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Rule</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        <!--1st row-->
        <div class="row">
          <div class="col-md-2 text-right">
            <b>Date Applied</b>
          </div>
          <div class="col-md-10">
            <p-calendar [(ngModel)]="dateApplied" placeholder="Date Applied" [showIcon]="true">
            </p-calendar>
          </div>

        </div>
        <br />
        <!--end 1st row-->



        <!--2nd row-->
        <div class="row">

          <div class="col-md-2 text-right">
            <b>Leave Type</b>
          </div>
          <div class="col-md-4">
            <p-dropdown [options]="leaveTypeList" [(ngModel)]="leaveType" placeholder="Leave Type"
              [style]="{'width':'100%'}">
              <ng-template let-itm pTemplate="item">
                <div style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <!-- <p-dropdown filter="true" required>-->
          </div>

          <div class="col-md-2 text-right">
            <b>Leave Nature</b>
          </div>
          <div class="col-md-4">
            <p-dropdown [options]="leaveNatureList" [(ngModel)]="leaveNature" placeholder="Leave Nature"
              [style]="{'width':'100%'}">
              <ng-template let-itm pTemplate="item">
                <div style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <!-- <p-dropdown filter="true" required>-->
          </div>

        </div>
        <!--end 2nd row-->
        <br />



        <!--3rd row-->
        <div class="row">

          <div class="col-md-2 text-right">
            <b>Leave Limit</b>
          </div>
          <div class="col-md-4">
            <input id="input" [(ngModel)]="leaveLimit" type="text" size="30" pInputText class="fullwidth">
          </div>

          <div class="col-md-2 text-right">
            <b>Limit Type</b>
          </div>
          <div class="col-md-4">
            <p-dropdown [options]="leaveLimitTypeList" [(ngModel)]="limitType" placeholder="Leave Limit"
              [style]="{'width':'100%'}">
              <ng-template let-itm pTemplate="item">
                <div style="position: relative;height: 25px;">
                  <div style="font-size:14px;float:left;margin-top:4px;">{{itm.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <!-- <p-dropdown filter="true" required>-->
          </div>

        </div>
        <!--end 3rd row-->
        <br />


        <div class="row">
          <div class="col-md-12">
            <mat-card>
              <!--mat card 1st row-->
              <div class="row">
                <div class="col-md-6">
                  <h4>Effects</h4>
                </div>
              </div>
              <br />
              <!--end mat card 1st row-->
              <!--mat card 2nd row-->
              <div class="row">
                <div class="col-md-4 text-right">
                  <b>Basic Pay (per day): </b>
                </div>
                <div class="col-md-3 text-right">
                  <h5>5%</h5>
                </div>
              </div>
              <br />
              <!--end mat card 2nd row-->
              <!--mat card 3rd row-->
              <div class="row">
                <div class="col-md-4 text-right">
                  <b>Allowance (per day): </b>
                </div>
                <div class="col-md-4 text-right">
                  <p-multiSelect [options]="allowances" [(ngModel)]="selectedAllowance" [panelStyle]="{minWidth:'12em'}"
                    [style]="{'width':'100%'}"></p-multiSelect>
                </div>
                <div class="col-md-3 text-right">
                  <h5>8%</h5>
                </div>
              </div>
              <br />
              <!--end mat card 3rd row-->
              <!--mat card 4th row-->
              <div class="row">
                <div class="col-md-4 text-right">
                  <b>Deducion (per day): </b>
                </div>
                <div class="col-md-4 text-right">
                  <p-multiSelect [options]="allowances" [(ngModel)]="selectedDeduction" [panelStyle]="{minWidth:'12em'}"
                    [style]="{'width':'100%'}"></p-multiSelect>
                </div>
                <div class="col-md-3 text-right">
                  <h5>7%</h5>
                </div>
              </div>
              <!--end mat card 4th row-->
              <br />
            </mat-card>
          </div>
        </div>
        <br />

        <!--button row-->
        <div>
          <button *ngIf="!updateFlag" mat-raised-button color="primary" (click)="save()">Save</button>
          <button *ngIf="updateFlag" mat-raised-button color="primary" (click)="save()">Update</button>
        </div>

      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window for add new rule -->
