<!--The content below is only a placeholder and can be replaced.-->

<mat-drawer-container class="example-container" autosize>
<mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
    </button>
</mat-drawer>

<div class="example-sidenav-content">
    <div class="row bgWhite bottomBorder">
        <div class="col-md-1">
            <button type="button" class="noneOutLine"  mat-button (click)="drawer.toggle()">
                <span class="fa fa-bars sideMenubar"></span>
            </button>
        </div>
        <div class="col-md-5">
            <h4>Provisional Disaster Management Authority</h4>
        </div>
        <div class="col-md-6 text-right">
            <button mat-button [matMenuTriggerFor]="menu" class="noneOutLine">
                Haroon Qadeer
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="noneOutLine">
                    <!-- <mat-icon>dialpad</mat-icon> -->
                    <span class="fa fa-sign-out"></span>
                    <span>  Log out</span>
                </button>
                <button mat-menu-item class="noneOutLine">
                    <!-- <mat-icon>voicemail</mat-icon> -->
                    <span class="fa fa-user"></span>
                    <span>  Haroonqd</span>
                </button>                
            </mat-menu>
        </div>
        
    </div>
    
    <router-outlet></router-outlet>
</div>

</mat-drawer-container>
