@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/font.scss';


/* Common CSS Start */

html, body{
    height: 100%;
}

h1{
    border: 0px solid red;
    font-size: 150px;

}

body{
    // background-color: #ebecef !important;
    background-image: linear-gradient(135deg,#fff, #ccc);
    overflow: hidden;    
}

///// headings
h1{
    border: 0px solid red;
}

//loginbody
.loginbody{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    // background-color: #ebecef !important;
    background-image: linear-gradient(45deg,#4c4c4c,#666, #7f7f7f);
    overflow: hidden;    
}


.h1Login{
    background-color: #f44336;
    color:#fff;
    height: 3em;
    padding-top: 0.7em;
    font-family: Oswald;
    letter-spacing: 5px;
    //text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-weight: bold;
}

.bgWhite{
    background-color: #fff !important;
}

.bgblack{
    background-color: #f44336 !important;    
}

.fontWhite{
    color: #e5e5e5 !important;
}

.bottomBorder{
    border-bottom: 1px solid #ccc !important;
}
/* Common CSS End   */


.modal{
    z-index: 999999 !important;
}

/* login panel */
.loginPanel{
    height: 35em !important;
    //background-image: linear-gradient(#4c4c4c, #323232);
    background-color: #fff;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* login div footer */
.loginFooter{
    bottom: 0 !important;
    width: 100%;
    position: absolute !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);    
}

/* 100% width*/
.fullwidth{
    width: 100% !important;
}

// button's outline set to zero
.noneOutLine{
    outline: 0 !important;
}

// side nav angular material
.example-container{
    height: 100% !important;    
}
.example-sidenav{    
    width: 15em !important;
    background-image: linear-gradient(135deg,#222,#333, #4c4c4c) !important;
}
.sideMenubar{
    font-size: 1.5em !important;
}
.sideMenuHome{
    font-size: 2.0em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.sideMenuTitle{
    color: #e5e5e5 !important;
    background-color: #4c4c4c !important;
    padding-top: 1.2em !important;
    padding-bottom: 1.0em !important;    
}

/* Dashboard CSS Start (Adnan) */

.container_boxes{
    border: 0px solid red;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

/* Dashboard CSS Start (Adnan) */

.container_boxes .box_users{
    border: 1px solid #ddd;
    width: 222px;
    height: 75px;
    margin: 20px;
    position: relative;
    float: left;
}

.container_boxes .box_users:hover{
    cursor: pointer;
}

.container_boxes .box_users .uper_div{
    border: 0px solid red;
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #000;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.container_boxes .box_users .caption{
    border: 1px solid #000;
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    padding: 0px 10px;
}

.container_boxes .box_users .icon{
    border: 1px solid #000;
    position: absolute;
    left: 0;
    height: 100%;
    width: 35%;
    text-align: center;
}

.container_charts{
    border: 0px solid blueviolet;
    width: 100%;
    height: 520px;
    margin-top: 15px;
    overflow: hidden;
}

.container_charts .pie_chart{
    border: 1px solid #ddd;
    width: 40%;
    height: 70%;
    margin: 40px; 
    position: absolute;
    left: 0;
}

.container_charts .line_chart{
    border: 1px solid #ddd;
    width: 40%;
    height: 70%;
    margin: 40px; 
    position: absolute;
    right: 0;
}




.container_galary{
    border: 0px solid red;
    width: 100%;
    height: 200px;
    overflow: hidden;
}


.container_galary .galary_left{
    border: 1px solid #ddd;
    width: 40%;
    height: 150px;
    margin: 10px 40px; 
    position: absolute;
    left: 0;
}

.container_galary .galary_right{
    border: 1px solid #ddd;
    width: 40%;
    height: 150px;
    margin: 10px 40px; 
    position: absolute;
    right: 0;
}

.container_galary .caption{
    border: 0px solid #ddd;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    background: #ddd;
    text-align: center;
}
/* Dashboard CSS End */

/*User profile page CSS start*/
.up_headbox{
    border: 1px solid #555;
    height: 200px;
    width: 200px;
    position: relative;
    float: left;
    margin-left: -1px;
}



.pointerCursor{
    cursor: pointer;
}

/*alert messages save & update*/

#alert_msg_success {
    position: absolute;
    z-index: 101;
    top: 10;
    left: 70em;
    right: 2em;
    background: #32CD32;
    color:white;
    text-align: center;
    line-height: 5.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

/*alert messages delete*/
#alert_msg_warn {
  position: absolute;
  z-index: 101;
  top: 10;
  left: 70em;
  right: 2em;
  background: #FF6347;
  color:white;
  text-align: center;
  line-height: 5.5;
  overflow: hidden; 
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}