<br>
<div>
    <!-- heading row -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="bottomBorder">Income Statement</h1>
        </div>
    </div>
    <!-- end heading row -->
    <br>
</div>

<!-- Type Year Month Starts -->
<!-- Row 1 -->
<div class="row">
    <div class="col-md-4 text-center">
        <mat-form-field>
            <mat-select placeholder="Select Type" [(ngModel)]="cmbFinancialType">
                <mat-option *ngFor="let type of finType" [value]="type.nameType">
                    {{type.nameType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4 text-center">
        <mat-form-field>
            <mat-select placeholder="Select Year" [(ngModel)]="cmbFinancialYear">
                <mat-option *ngFor="let year of finYear" [value]="year.nameYear">
                    {{year.nameYear}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4 text-center">
        <mat-form-field>
            <mat-select placeholder="Select Month" [(ngModel)]="cmbFinancialMonth">
                <mat-option *ngFor="let month of finMonth" [value]="month.nameMonth">
                    {{month.nameMonth}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<br>

<!-- Button Row 2 -->
<div class="row">
    <div class="col-md-6">
        <button mat-raised-button color="warn"><i class="fa fa-print" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-6 text-right">
        <button mat-raised-button color="primary"><i class="fa fa-refresh"></i></button>
    </div>
</div>
<br>
<!-- Container 2 -->
<div class="container bgWhite allBorder">
    <br>
    <div class="row">
        <div class="col-md-12 text-uppercase text-center text-danger">
            <h5 class="bottomBorder">Income and Expenditure Account for the year ended</h5><br>
        </div>
    </div>
    <!-- Income Table Starts -->
    <div class="row col-md-12 text-uppercase text-success">
        <h4>Incomes</h4>
    </div>
    <div class="row">
        <table class="table table-striped fullwidth">
            <thead>
                <tr class='d-flex'>
                    <th class='col-1 font-weight-bold'>#</th>
                    <th class='col-5 font-weight-bold'>Description</th>
                    <th class='col-2 text-center font-weight-bold'>Notes</th>
                    <th class='col-2 text-center font-weight-bold'>Amount</th>
                    <th class='col-2 text-center font-weight-bold'>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr class='d-flex'>
                    <td class='col-1'>1</td>
                    <td class='col-5'>Other Income</td>
                    <td class='col-2 text-center'> </td>
                    <td class='col-2 text-center'>-7,144,531</td>
                    <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalOne">click here</a></td>
                </tr>
                <tr class='d-flex bottomBorder'>
                    <td class='col-1'></td>
                    <td class='col-5'><b>TOTAL INCOMES</b></td>
                    <td class='col-2 text-center'></td>
                    <td class='col-2 text-center'><b>-7,144,531</b></td>
                    <td class='col-2 text-center'></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Income Table Ends -->
    <br><br>
    <!-- Expense Table Starts -->
    <div class="row col-md-12 text-uppercase text-success">
        <h4>Expenses</h4>
    </div>
    <div class="row">
        <table class="table table-striped fullwidth">
            <thead>
                <tr class='d-flex'>
                    <th class='col-1 font-weight-bold'>#</th>
                    <th class='col-5 font-weight-bold'>Description</th>
                    <th class='col-2 text-center font-weight-bold'>Notes</th>
                    <th class='col-2 text-center font-weight-bold'>Amount</th>
                    <th class='col-2 text-center font-weight-bold'>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr class='d-flex'>
                    <td class='col-1'>1</td>
                    <td class='col-5'>Finance Cost</td>
                    <td class='col-2 text-center'>27</td>
                    <td class='col-2 text-center'>11,273</td>
                    <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalOne">click here</a></td>
                </tr>
                <tr class='d-flex'>
                    <td class='col-1'>2</td>
                    <td class='col-5'>Operating Expense</td>
                    <td class='col-2 text-center'>25</td>
                    <td class='col-2 text-center'>121,531,932</td>
                    <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalOne">click here</a></td>
                </tr>
                <tr class='d-flex'>
                    <td class='col-1'>3</td>
                    <td class='col-5'>General and Adminstrative Expenses</td>
                    <td class='col-2 text-center'>26</td>
                    <td class='col-2 text-center'>193,132,396</td>
                    <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalOne">click here</a></td>
                </tr>
                <tr class='d-flex bottomBorder'>
                    <td class='col-1'></td>
                    <td class='col-5'><b>TOTAL ASSETS</b></td>
                    <td class='col-2 text-center'></td>
                    <td class='col-2 text-center'><b>314,675,601</b></td>
                    <td class='col-2 text-center'></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Expense Table Ends -->
    <br/>
    <!--start assets total row-->
    <div class="row">
        <div class="col-md-8 text-right">
            <b>DEFICIT FOR THE YEAR AFTER TAXATION</b>
        </div>
        <div class="col-md-2 bottomBorder text-center">
            <b>-307,531,070</b>
        </div>
    </div>
    <!--end assets total row-->
    <br>
</div>

<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------- Income Modals ------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------------------------- -->

<!-- Income-Modal 1 -->
<div class="modal fade" id="financeIncomeModalOne">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title  text-uppercase text-danger">Other Income</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- <div class="hidden" [(ngModel)]="FMainId" ngDefaultControl></div> -->
                <div class="row">
                    <table class="table table-striped fullwidth">
                        <thead>
                            <tr class='d-flex'>
                                <th class='col-1'>#</th>
                                <th class='col-7'>Description</th>
                                <th class='col-2 text-center'>Amount</th>
                                <th class='col-2 text-center'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='d-flex'>
                                <td class='col-1'>1</td>
                                <td class='col-7'>Advertisement and publicity</td>
                                <td class='col-2 text-center'>12,500</td>
                                <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalTwo">click here</a></td>
                            </tr>
                            <tr class='d-flex'>
                                <td class='col-1'>1</td>
                                <td class='col-7'>Communication </td>
                                <td class='col-2 text-center'>299,228</td>
                                <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalTwo">click here</a></td>
                            </tr>
                            <tr class='d-flex bottomBorder'>
                                <td class="col-1"></td>
                                <td class="col-7"><b>Total Expense</b></td>
                                <td class="col-2 text-center"><b>311,728</b></td>
                                <td class="col-2 text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Income-Modal 2 -->
<div class="modal fade" id="financeIncomeModalTwo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title  text-uppercase text-danger">Income Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- <div class="hidden" [(ngModel)]="FMainId" ngDefaultControl></div> -->
                <div class="row">
                    <table class="table table-striped fullwidth">
                        <thead>
                            <tr class='d-flex'>
                                <th class='col-1'>#</th>
                                <th class='col-2'>Account Head</th>
                                <th class='col-5'>Description</th>
                                <th class='col-2 text-center'>Amount</th>
                                <th class='col-2 text-center'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='d-flex'>
                                <td class='col-1'>1</td>
                                <td class='col-2'>71300501</td>
                                <td class='col-5'>DEPRECIATION ON REVALUED BUILDING AND CIVIL CONSTRUCTION ON FREEHOLD LAND</td>
                                <td class='col-2 text-center'>2,007,032</td>
                                <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalThree">click here</a></td>
                            </tr>
                            <tr class='d-flex'>
                                <td class='col-1'>2</td>
                                <td class='col-2'>71300201</td>
                                <td class='col-5'>DEPRECIATION ON REVALUED ROADS ON FREEHOLD LAND</td>
                                <td class='col-2 text-center'>35,388,729</td>
                                <td class='col-2 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalThree">click here</a></td>
                            </tr>
                            <tr class='d-flex bottomBorder'>
                                <td class="col-1"></td>
                                <td class="col-2"></td>
                                <td class="col-5"><b>Total Income</b></td>
                                <td class="col-2 text-center"><b>37,395,761</b></td>
                                <td class="col-2 text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Income-Modal 3 -->
<div class="modal fade" id="financeIncomeModalThree">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title  text-uppercase text-danger">Account Head Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- <div class="hidden" [(ngModel)]="FMainId" ngDefaultControl></div> -->
                <div class="row">
                    <table class="table table-striped fullwidth">
                        <thead>
                            <tr class='d-flex'>
                                <th class='col-1'>#</th>
                                <th class='col-5'>Location</th>
                                <th class='col-3 text-center'>Amount</th>
                                <th class='col-3 text-center'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='d-flex'>
                                <td class='col-1'>1</td>
                                <td class='col-5'>KallarKahar1</td>
                                <td class='col-3 text-center'>35,388,729</td>
                                <td class='col-3 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalFour">click here</a></td>
                            </tr>
                            <tr class='d-flex bottomBorder'>
                                <td class="col-1"></td>
                                <td class="col-5"><b>Account Head Total</b></td>
                                <td class="col-3 text-center"><b>35,388,729</b></td>
                                <td class="col-3 text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Income-Modal 4 -->
<div class="modal fade" id="financeIncomeModalFour">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title  text-uppercase text-danger">Account Head Project Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- <div class="hidden" [(ngModel)]="FMainId" ngDefaultControl></div> -->
                <div class="row">
                    <table class="table table-striped fullwidth">
                        <thead>
                            <tr class='d-flex'>
                                <th class='col-1'>#</th>
                                <th class='col-5'>Description</th>
                                <th class='col-3 text-center'>Amount</th>
                                <th class='col-3 text-center'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='d-flex'>
                                <td class='col-1'>1</td>
                                <td class='col-5'>KallarKahar1</td>
                                <td class='col-3 text-center'>35,388,729</td>
                                <td class='col-3 text-center'><a class="cursorPointer" href="" data-toggle="modal" data-target="#financeIncomeModalFive">click here</a></td>
                            </tr>
                            <tr class='d-flex bottomBorder'>
                                <td class="col-1"></td>
                                <td class="col-5"><b>Account Head Total</b></td>
                                <td class="col-3 text-center"><b>35,388,729</b></td>
                                <td class="col-3 text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Income-Modal 5 -->
<div class="modal fade" id="financeIncomeModalFive">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title  text-uppercase text-danger">Ledger Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- <div class="hidden" [(ngModel)]="FMainId" ngDefaultControl></div> -->
                <div class="row">
                    <table class="table table-striped fullwidth">
                        <thead>
                            <tr class='d-flex'>
                                <th class='col-1'>#</th>
                                <th class='col-1'>Date</th>
                                <th class='col-2'>Voucher No</th>
                                <th class='col-4'>Description</th>
                                <th class='col-1 text-right'>Debit</th>
                                <th class='col-1 text-right'>Credit</th>
                                <th class='col-1'>Cheq No</th>
                                <th class='col-1 text-center'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='d-flex'>
                                <td class='col-1'>1</td>
                                <td class='col-1'>Jun 30, 2016</td>
                                <td class='col-2'>M-2 (Maint)-Jun/2016</td>
                                <td class='col-4'>Amount Adjusted on a/c of Above head as suggested by Book keeping & Consolidation Section.</td>
                                <td class='col-1 text-right'>2,112,666</td>
                                <td class='col-1 text-right'>0</td>
                                <td class='col-1'> </td>
                                <td class='col-1 text-center'><span class="fa fa-file pointerCursor" data-toggle="modal" data-target="#financeIncomeModalSix"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Start Voucher Modal Window -->
<div class="modal fade" id="financeIncomeModalSix">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">

            <!--start Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Voucher Detail</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end Modal Header -->

            <!--start Modal body -->
            <div class="modal-body">
                <!--start table row-->
                <div class="row bottomBorder">
                    <table class="table table-striped">
                        <thead>
                            <tr class='d-flex'>
                                <th class='col-1 text-center'>#</th>
                                <th class='col-2'>Voucher Date</th>
                                <th class='col-1'>Account Code</th>
                                <th class='col-4'>Account Title</th>
                                <th class='col-2 text-right'>Debit</th>
                                <th class='col-2 text-right'>Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='d-flex'>
                                <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                                <td class='col-1 text-center'>1</td>
                                <td class='col-2'>Jun 30, 2016</td>
                                <td class='col-1'>7501</td>
                                <td class='col-4'>MARK-UP/INTEREST ON LONG TERM LOANS</td>
                                <td class='col-2 text-right'>869,564,588</td>
                                <td class='col-2 text-right'>0</td>
                            </tr>
                            <tr class='d-flex'>
                                <td class='col-1 text-center'>2</td>
                                <td class='col-2'>Jun 30, 2016</td>
                                <td class='col-1'>5915</td>
                                <td class='col-4'>INTEREST/MARKUP PAYABLE ON FOREIGN CURRENCY LOAN</td>
                                <td class='col-2 text-right'>0</td>
                                <td class='col-2 text-right'>869,564,588</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end table row-->
                <br/>
                <!--start 2nd row-->
                <div class="row">
                    <div class="col-md-3">
                        <b>Description:</b>
                    </div>
                    <div class="col-md-9">
                        Amount Adjusted on a/c of Above against Interest for the year 2016 as entered in audited accounts 2016
                    </div>
                </div>
                <!--end 2nd row-->
                <br/>
                <hr>

                <!--start 3rd row-->
                <div class="row">
                    <div class="col-md-3">
                        <b>Party:</b>
                    </div>
                    <div class="col-md-9">
                        -
                    </div>
                </div>
                <!--end 3rd row-->
                <br/>
                <hr>

                <!--start 4th row-->
                <div class="row">
                    <div class="col-md-3">
                        <b>Cheque/Receipt No:</b>
                    </div>
                    <div class="col-md-3">
                        -
                    </div>
                    <div class="col-md-3">
                        <b>Cheque/Receipt Date</b>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <!--end 4th row-->
                <br/>
                <hr>
            </div>
            <!--end Modal body -->

            <!--start Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end Modal footer -->

        </div>
    </div>
</div>
<!-- End Voucher Modal Window  -->