li{
    border:0px solid #ddd;
    list-style-type:none;
    width: 95%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 15px grey;
}

.btn{
    margin-left: 90%;
}

.sno{
    border: 0px solid red;
}


.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
