<div class="loginbody">
  <div class="loginPanel ">
    <br />
    <div class="h-100 row">
      <div class="offset-md-1 col-md-10">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='fullwidth' appearance="legacy">
              <mat-label class="inputLabel">Email</mat-label>
              <input matInput id="txtEmail" class='loginInput' [(ngModel)]="txtEmail" autofocus required>
              <!-- <mat-icon matSuffix color="primary"><i class='fa fa-user'></i></mat-icon> -->
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='fullwidth' appearance="legacy">
              <!-- <mat-icon matSuffix matPrefix><i class='fa fa-lock'></i></mat-icon>  -->
              <mat-label class="inputLabel">First Name</mat-label>
              <input id="txtFirstName" matInput class='loginInput' [(ngModel)]="txtFirstName" required>
              <!-- <mat-icon matSuffix color="primary"><i class='fa fa-lock' color="primary"></i></mat-icon> -->
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='fullwidth' appearance="legacy">
              <!-- <mat-icon matSuffix matPrefix><i class='fa fa-lock'></i></mat-icon>  -->
              <mat-label class="inputLabel">Middle Name</mat-label>
              <input id="txtMiddleName" matInput class='loginInput' [(ngModel)]="txtMiddleName" required>
              <!-- <mat-icon matSuffix color="primary"><i class='fa fa-lock' color="primary"></i></mat-icon> -->
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='fullwidth' appearance="legacy">
              <!-- <mat-icon matSuffix matPrefix><i class='fa fa-lock'></i></mat-icon>  -->
              <mat-label class="inputLabel">Last Name</mat-label>
              <input id="txtLastName" matInput class='loginInput' [(ngModel)]="txtLastName" required>
              <!-- <mat-icon matSuffix color="primary"><i class='fa fa-lock' color="primary"></i></mat-icon> -->
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class='fullwidth' appearance="legacy">
              <!-- <mat-icon matSuffix matPrefix><i class='fa fa-lock'></i></mat-icon>  -->
              <mat-label class="inputLabel">Password</mat-label>
              <input id="txtPassword" type="password" matInput class='loginInput' [(ngModel)]="txtPassword" required>
              <!-- <mat-icon matSuffix color="primary"><i class='fa fa-lock' color="primary"></i></mat-icon> -->
            </mat-form-field>
          </div>
        </div>
      </div>
    </div> <br />
    <button mat-raised-button class="fullwidth loginButton" color="primary" (click)="save()">SIGN UP</button>

  </div>
  <!-- <div class="boxBottomBorder">    
  </div> -->
</div><!-- end main class -->
