<br>
<h1 class="text-center text-success">Welocome to User Management</h1>

<div class="container">
  <div class="loginPanel box" style="height: 100% !important;">
    <!-- heading row -->
    <h1 class="h1Login text-center text-uppercase">Sign Up</h1>
    <!-- end heading row -->

    <!-- container -->
    <div class="container">
      <br>
      <!-- Row 1 Starts -->
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <mat-form-field class="fullwidth">
            <input matInput type="text" placeholder="Enter User Name">
          </mat-form-field>
        </div>
      </div>
      <br>
      <!-- Row 2 Starts -->
      <div class="row">
        <div class="offset-md-2 col-md-4">
          <mat-form-field class="fullwidth">
            <input matInput type="password" placeholder="Password">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="fullwidth">
            <input matInput type="password" placeholder="Confirm Password">
          </mat-form-field>
        </div>
      </div>
      <!-- Row 3 Starts -->
      <br>
      <div class="row">
        <div class="offset-md-2 col-md-4">
          <mat-form-field class="fullwidth">
            <input matInput type="password" placeholder="PIN">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="fullwidth">
            <input matInput type="password" placeholder="Confirm PIN">
          </mat-form-field>
        </div>
      </div>
      <br>
      <!-- button - login -->
      <div class="row">
        <div class="col-md-10 text-right">
          <button mat-raised-button color="primary" href="userprofile">Save</button>
        </div>
      </div><!-- end button - login -->
      <br><br>
    </div><!-- end container -->
  </div><!-- end login pannel-->
</div>
