<br />

<!-- heading row -->
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="bottomBorder">Application Tree</h1>
    </div>
</div>
<!-- end heading row -->

<br>

<!--start buttons row-->
<div class="row">
    <div class="col-md-6">
        <button mat-raised-button color="warn">Print</button>
    </div>
    <div class="col-md-6 text-right">
        <button mat-raised-button color="primary" data-toggle="modal" data-target="#userModal">Add New</button>
    </div>
</div>
<!--end buttons row-->
<br>

<div class="modal fade" id="userModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
        <div class="modal-content">
            <!--start user Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Application Menu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end user Modal Header -->

            <!--start user Modal body-->
            <div class="modal-body">
                <br>
                <div class="hidden" ngDefaultControl></div>
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="fullwidth">
                            <mat-select placeholder="Select Module" [(ngModel)]="cmbModule" (ngModelChange)="onModuleChange()"
                                required>
                                <input type="text" class="form-control" [(ngModel)]="searchModule">
                                <mat-option *ngFor="  let mod of modules | search:'moduleName':searchModule" [value]="mod.moduleName">{{mod.moduleName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-fab color="primary" data-toggle="modal" data-target="#addModule"><span class="fa fa-plus"></span></button>
                    </div>
                </div>

                <!--Select module combo box and Add new moudle-->
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="fullwidth">
                            <mat-select placeholder="Select Module" [(ngModel)]="cmbModule" (ngModelChange)="onModuleChange()"
                                required>
                                <input type="text" class="form-control" [(ngModel)]="searchModule">
                                <mat-option *ngFor="  let mod of modules | search:'moduleName':searchModule" [value]="mod.moduleName">{{mod.moduleName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-fab color="primary" *ngIf="!mdouleBox" data-toggle="modal" data-target="#addModule">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                </div>


                <!--Select menu combo box and Add new menu-->
                <div class="row" *ngIf="mdouleBox">
                    <div class="col-md-8">
                        <mat-form-field class="fullwidth">
                            <mat-select placeholder="Select Menu" [(ngModel)]="cmbMenu" required (ngModelChange)="onMenuChange()">
                                <input type="text" class="form-control" [(ngModel)]="searchMenu">
                                <mat-option *ngFor="  let menu of menus | search:'menuName':searchMenu" [value]="menu.menuName">{{menu.menuName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-fab color="primary" *ngIf="!menuBox" data-toggle="modal" data-target="#addMenu">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                </div>


                <!-- Let's Starts -->
                <div [formGroup]="employeeForm">
                    <div formArrayName="products">
                        <div *ngFor="let product of productsValue.controls; let i=index" [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="fullwidth">
                                        <input matInput placeholder="Search" type="text" formControlName="menuComboText">
                                        <mat-select formControlName="menuCombo" placeholder="Select Sub Menu">
                                            <input type="text" class="form-control">
                                            <mat-option *ngFor="  let menu of menus | search:'menuName':menuComboText"
                                                [value]="menu.menuName">
                                                {{menu.menuName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <button mat-fab color="primary" data-toggle="modal" data-target="#addSubMenu">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button mat-fab color="warn" (click)="deleteProducts(i)">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <button mat-fab *ngIf="menuBox" color="primary" (click)="addProducts()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <!-- Add Element Ends -->
                    <!-- <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color="warn" data-dismiss="modal">Save</button>
                        </div>
                    </div> -->
                    <br />
                </div>
                <!-- Let's Ends -->
            </div>
            <!--end delete user Modal body -->

            <!--start delete user Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end delete user Modal footer -->
        </div>
    </div>
</div>



<!-- Add Module Modal Starts -->
<br>
<div class="modal fade" id="addModule">
    <div class="modal-dialog shadow-lg-dark">
        <div class="modal-content">
            <!--start user Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Module</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end user Modal Header -->

            <!--start user Modal body-->
            <div class="modal-body">
                <br>
                <div class="hidden" ngDefaultControl></div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="Enter Module" type="text" [(ngModel)]="moduleValue">
                        </mat-form-field>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color="primary" (click)="saveModuleData()">Save</button>
                    </div>
                </div>
                <br />
            </div>
            <!--end delete user Modal body -->

            <!--start delete user Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end delete user Modal footer -->
        </div>
    </div>
</div>
<!-- Add Module Modal Ends -->



<!-- Add Menu Modal Starts -->
<br>
<div class="modal fade" id="addMenu">
    <div class="modal-dialog shadow-lg-dark">
        <div class="modal-content">
            <!--start user Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Menu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end user Modal Header -->

            <!--start user Modal body-->
            <div class="modal-body">
                <br>
                <div class="hidden" ngDefaultControl></div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="Enter Menu" type="text" [(ngModel)]="menuValue">
                        </mat-form-field>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color="primary" (click)="saveMenuData()">Save</button>
                    </div>
                </div>
                <br />
            </div>
            <!--end delete user Modal body -->

            <!--start delete user Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end delete user Modal footer -->
        </div>
    </div>
</div>
<!-- Add Menu Modal Ends -->



<!-- Add Sub Menu Modal Starts -->
<br>
<div class="modal fade" id="addSubMenu">
    <div class="modal-dialog shadow-lg-dark">
        <div class="modal-content">
            <!--start user Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Sub-Menu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--end user Modal Header -->

            <!--start user Modal body-->
            <div class="modal-body">
                <br>
                <div class="hidden" ngDefaultControl></div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="Enter Sub-Menu" type="text" [(ngModel)]="subMenuValue">
                        </mat-form-field>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button color="primary" (click)="saveSubMenuData()">Save</button>
                    </div>
                </div>
                <br />
            </div>
            <!--end delete user Modal body -->

            <!--start delete user Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            <!--end delete user Modal footer -->
        </div>
    </div>
</div>
<!-- Add Sub Menu Ends -->