<br/>
<!--start heading row-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Disaster Management Dashboard</h1>    
  </div>
</div>
<!--end heading row-->
<br/>

<!--container row-->
<div class="container">
  <!--sub heading row-->
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="">Area Wise</h3>
    </div>
  </div>
  <!--end sub heading row-->
  <br/>
  <!--sub heading row-->
  <div class="row">
    <div class="col-md-6 text-right">
      <h5>City: </h5>
    </div>
    <div class="col-md-6 text-left">
      <h5 style="font-weight:normal;">Islamabad</h5>
    </div>
  </div>
  <!--end sub heading row-->
</div>
<!--end container-->
<br/>

<!--1st row-->
<div class="row">
  <div class="col-md-4">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="bg-tomato">
          <mat-panel-title>
            <b>Area</b>
          </mat-panel-title>
          <mat-panel-description>
            Karachi Company
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <!--1st row-->
          <div class="row">
            <div class="col-md-4"><b>No. of Points</b></div>
            <div class="col-md-6 text-left">
              <button mat-mini-fab color="primary" class="noneOutLine" data-toggle="modal" data-target="#pointModal"><b>...</b></button>
            </div>
          </div>
          <!--end 1st row-->
          <!--2nd row-->
          <div class="row">
            <div class="col-md-12">
              <b>Impact</b>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  60%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 2nd row-->
          <!--2nd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Casualities</h5>
            </div>
          </div>
          <!--end 2nd sub heading row-->
          <!--3rd row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <b>Wounded</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Serious Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Minor Injured</b>
            </div>
          </div>
          <!--end 3rd row-->
          <!--4th row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">69</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">15</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">23</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">52</h5>
            </div>
          </div><br/>
          <!--end 4th row-->
          <!--3rd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Rescue Operation</h5>
            </div>
          </div>
          <!--end 3rd sub heading row-->
          <!--5th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Rescue</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Shelter</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div>
          <!--end 5th row-->
          <!--6th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Food</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                  60%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Blankets</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 6th row-->
          <!--4th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Damages</h5>
            </div>
          </div>
          <!--end 4th sub heading row-->
          <!--7th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <b>Houses</b>
            </div>
            <div class="col-md-4 text-center">
              <b>institutes</b>
            </div>
            <div class="col-md-4 text-center">
              <b>Hospitals</b>
            </div>
          </div>
          <!--end 7th row-->
          <!--8th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">46</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">08</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">02</h5>
            </div>
          </div><br/>
          <!--end 8th row-->
          <!--5th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Health</h5>
            </div>
          </div>
          <!--end 5th sub heading row-->
          <!--9th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Doctors</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  90%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Medical Staff</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 9th row-->
          <!--6th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Drugs</h5>
            </div>
          </div>
          <!--end 6th sub heading row-->
          <!--10th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Life Saving</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  90%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Anti-Biotic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                  70%
                </div>
              </div>
            </div>
          </div>
          <!--end 10th row-->
          <!--11th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Anti-Alergic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Others</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  20%
                </div>
              </div>
            </div>
          </div>
          <!--end 11th row-->
        </div>
      </mat-expansion-panel><br/>
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="bg-orange">
          <mat-panel-title>
            <b>Area</b>
          </mat-panel-title>
          <mat-panel-description>
            Sitara Market
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <!--1st row-->
          <div class="row">
            <div class="col-md-4"><b>No. of Points</b></div>
            <div class="col-md-6 text-left">
              <button mat-mini-fab color="primary" class="noneOutLine" data-toggle="modal" data-target="#pointModal"><b>...</b></button>
            </div>
          </div>
          <!--end 1st row-->
          <!--2nd row-->
          <div class="row">
            <div class="col-md-12">
              <b>Impact</b>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 2nd row-->
          <!--2nd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Casualities</h5>
            </div>
          </div>
          <!--end 2nd sub heading row-->
          <!--3rd row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <b>Wounded</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Serious Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Minor Injured</b>
            </div>
          </div>
          <!--end 3rd row-->
          <!--4th row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">29</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">8</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">52</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">87</h5>
            </div>
          </div><br/>
          <!--end 4th row-->
          <!--3rd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Rescue Operation</h5>
            </div>
          </div>
          <!--end 3rd sub heading row-->
          <!--5th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Rescue</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width:87%">
                  87%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Shelter</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                  35%
                </div>
              </div>
            </div>
          </div>
          <!--end 5th row-->
          <!--6th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Food</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Blankets</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 6th row-->
          <!--4th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Damages</h5>
            </div>
          </div>
          <!--end 4th sub heading row-->
          <!--7th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <b>Houses</b>
            </div>
            <div class="col-md-4 text-center">
              <b>institutes</b>
            </div>
            <div class="col-md-4 text-center">
              <b>Hospitals</b>
            </div>
          </div>
          <!--end 7th row-->
          <!--8th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">20</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">05</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">00</h5>
            </div>
          </div><br/>
          <!--end 8th row-->
          <!--5th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Health</h5>
            </div>
          </div>
          <!--end 5th sub heading row-->
          <!--9th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Doctors</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Medical Staff</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 9th row-->
          <!--6th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Drugs</h5>
            </div>
          </div>
          <!--end 6th sub heading row-->
          <!--10th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Life Saving</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Anti-Biotic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width:82%;">
                  82%
                </div>
              </div>
            </div>
          </div>
          <!--end 10th row-->
          <!--11th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Anti-Alergic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Others</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                  60%
                </div>
              </div>
            </div>
          </div>
          <!--end 11th row-->
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-4">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="bg-orange">
          <mat-panel-title>
            <b>Area</b>
          </mat-panel-title>
          <mat-panel-description>
            Chak Shahzad
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <!--1st row-->
          <div class="row">
            <div class="col-md-4"><b>No. of Points</b></div>
            <div class="col-md-6 text-left">
              <button mat-mini-fab color="primary" class="noneOutLine" data-toggle="modal" data-target="#pointModal"><b>...</b></button>
            </div>
          </div>
          <!--end 1st row-->
          <!--2nd row-->
          <div class="row">
            <div class="col-md-12">
              <b>Impact</b>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 2nd row-->
          <!--2nd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Casualities</h5>
            </div>
          </div>
          <!--end 2nd sub heading row-->
          <!--3rd row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <b>Wounded</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Serious Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Minor Injured</b>
            </div>
          </div>
          <!--end 3rd row-->
          <!--4th row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">29</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">8</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">52</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">87</h5>
            </div>
          </div><br/>
          <!--end 4th row-->
          <!--3rd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Rescue Operation</h5>
            </div>
          </div>
          <!--end 3rd sub heading row-->
          <!--5th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Rescue</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width:87%">
                  87%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Shelter</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                  35%
                </div>
              </div>
            </div>
          </div>
          <!--end 5th row-->
          <!--6th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Food</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Blankets</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 6th row-->
          <!--4th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Damages</h5>
            </div>
          </div>
          <!--end 4th sub heading row-->
          <!--7th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <b>Houses</b>
            </div>
            <div class="col-md-4 text-center">
              <b>institutes</b>
            </div>
            <div class="col-md-4 text-center">
              <b>Hospitals</b>
            </div>
          </div>
          <!--end 7th row-->
          <!--8th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">20</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">05</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">00</h5>
            </div>
          </div><br/>
          <!--end 8th row-->
          <!--5th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Health</h5>
            </div>
          </div>
          <!--end 5th sub heading row-->
          <!--9th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Doctors</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Medical Staff</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 9th row-->
          <!--6th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Drugs</h5>
            </div>
          </div>
          <!--end 6th sub heading row-->
          <!--10th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Life Saving</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Anti-Biotic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width:82%;">
                  82%
                </div>
              </div>
            </div>
          </div>
          <!--end 10th row-->
          <!--11th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Anti-Alergic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Others</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                  60%
                </div>
              </div>
            </div>
          </div>
          <!--end 11th row-->
        </div>
      </mat-expansion-panel><br/>
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="bg-tomato">
          <mat-panel-title>
            <b>Area</b>
          </mat-panel-title>
          <mat-panel-description>
            Pakistan Secretariat
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <!--1st row-->
          <div class="row">
            <div class="col-md-4"><b>No. of Points</b></div>
            <div class="col-md-6 text-left">
              <button mat-mini-fab color="primary" class="noneOutLine" data-toggle="modal" data-target="#pointModal"><b>...</b></button>
            </div>
          </div>
          <!--end 1st row-->
          <!--2nd row-->
          <div class="row">
            <div class="col-md-12">
              <b>Impact</b>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 2nd row-->
          <!--2nd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Casualities</h5>
            </div>
          </div>
          <!--end 2nd sub heading row-->
          <!--3rd row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <b>Wounded</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Serious Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Minor Injured</b>
            </div>
          </div>
          <!--end 3rd row-->
          <!--4th row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">125</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">87</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">247</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">840</h5>
            </div>
          </div><br/>
          <!--end 4th row-->
          <!--3rd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Rescue Operation</h5>
            </div>
          </div>
          <!--end 3rd sub heading row-->
          <!--5th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Rescue</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  20%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Shelter</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div>
          <!--end 5th row-->
          <!--6th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Food</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Blankets</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="450" aria-valuemin="0" aria-valuemax="100" style="width:45%">
                  45%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 6th row-->
          <!--4th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Damages</h5>
            </div>
          </div>
          <!--end 4th sub heading row-->
          <!--7th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <b>Houses</b>
            </div>
            <div class="col-md-4 text-center">
              <b>institutes</b>
            </div>
            <div class="col-md-4 text-center">
              <b>Hospitals</b>
            </div>
          </div>
          <!--end 7th row-->
          <!--8th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">187</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">23</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">01</h5>
            </div>
          </div><br/>
          <!--end 8th row-->
          <!--5th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Health</h5>
            </div>
          </div>
          <!--end 5th sub heading row-->
          <!--9th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Doctors</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Medical Staff</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 9th row-->
          <!--6th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Drugs</h5>
            </div>
          </div>
          <!--end 6th sub heading row-->
          <!--10th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Life Saving</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Anti-Biotic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
                  60%
                </div>
              </div>
            </div>
          </div>
          <!--end 10th row-->
          <!--11th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Anti-Alergic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width:100%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Others</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div>
          <!--end 11th row-->
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-4">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="bg-tomato">
          <mat-panel-title>
            <b>Area</b>
          </mat-panel-title>
          <mat-panel-description>
            F-10 Markaz
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <!--1st row-->
          <div class="row">
            <div class="col-md-4"><b>No. of Points</b></div>
            <div class="col-md-6 text-left">
              <button mat-mini-fab color="primary" class="noneOutLine" data-toggle="modal" data-target="#pointModal"><b>...</b></button>
            </div>
          </div>
          <!--end 1st row-->
          <!--2nd row-->
          <div class="row">
            <div class="col-md-12">
              <b>Impact</b>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 2nd row-->
          <!--2nd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Casualities</h5>
            </div>
          </div>
          <!--end 2nd sub heading row-->
          <!--3rd row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <b>Wounded</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Serious Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Minor Injured</b>
            </div>
          </div>
          <!--end 3rd row-->
          <!--4th row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">125</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">87</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">247</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">840</h5>
            </div>
          </div><br/>
          <!--end 4th row-->
          <!--3rd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Rescue Operation</h5>
            </div>
          </div>
          <!--end 3rd sub heading row-->
          <!--5th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Rescue</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  20%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Shelter</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div>
          <!--end 5th row-->
          <!--6th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Food</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Blankets</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="450" aria-valuemin="0" aria-valuemax="100" style="width:45%">
                  45%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 6th row-->
          <!--4th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Damages</h5>
            </div>
          </div>
          <!--end 4th sub heading row-->
          <!--7th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <b>Houses</b>
            </div>
            <div class="col-md-4 text-center">
              <b>institutes</b>
            </div>
            <div class="col-md-4 text-center">
              <b>Hospitals</b>
            </div>
          </div>
          <!--end 7th row-->
          <!--8th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">187</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">23</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">01</h5>
            </div>
          </div><br/>
          <!--end 8th row-->
          <!--5th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Health</h5>
            </div>
          </div>
          <!--end 5th sub heading row-->
          <!--9th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Doctors</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Medical Staff</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 9th row-->
          <!--6th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Drugs</h5>
            </div>
          </div>
          <!--end 6th sub heading row-->
          <!--10th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Life Saving</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Anti-Biotic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
                  60%
                </div>
              </div>
            </div>
          </div>
          <!--end 10th row-->
          <!--11th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Anti-Alergic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width:100%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Others</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div>
          <!--end 11th row-->
        </div>
      </mat-expansion-panel><br/>
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="bg-tomato">
          <mat-panel-title>
            <b>Area</b>
          </mat-panel-title>
          <mat-panel-description>
            G-9 Markaz
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <!--1st row-->
          <div class="row">
            <div class="col-md-4"><b>No. of Points</b></div>
            <div class="col-md-6 text-left">
              <button mat-mini-fab color="primary" class="noneOutLine" data-toggle="modal" data-target="#pointModal"><b>...</b></button>
            </div>
          </div>
          <!--end 1st row-->
          <!--2nd row-->
          <div class="row">
            <div class="col-md-12">
              <b>Impact</b>
              <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                  60%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 2nd row-->
          <!--2nd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Casualities</h5>
            </div>
          </div>
          <!--end 2nd sub heading row-->
          <!--3rd row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <b>Wounded</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Serious Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Injured</b>
            </div>
            <div class="col-md-3 text-center">
              <b>Minor Injured</b>
            </div>
          </div>
          <!--end 3rd row-->
          <!--4th row-->
          <div class="row">
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">69</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">15</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">23</h5>
            </div>
            <div class="col-md-3 text-center">
              <h5 style="font-weight:normal;">52</h5>
            </div>
          </div><br/>
          <!--end 4th row-->
          <!--3rd sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Rescue Operation</h5>
            </div>
          </div>
          <!--end 3rd sub heading row-->
          <!--5th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Rescue</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  80%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Shelter</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                  40%
                </div>
              </div>
            </div>
          </div>
          <!--end 5th row-->
          <!--6th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Food</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                  60%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Blankets</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 6th row-->
          <!--4th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Damages</h5>
            </div>
          </div>
          <!--end 4th sub heading row-->
          <!--7th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <b>Houses</b>
            </div>
            <div class="col-md-4 text-center">
              <b>institutes</b>
            </div>
            <div class="col-md-4 text-center">
              <b>Hospitals</b>
            </div>
          </div>
          <!--end 7th row-->
          <!--8th row-->
          <div class="row">
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">46</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">08</h5>
            </div>
            <div class="col-md-4 text-center">
              <h5 style="font-weight:normal;">02</h5>
            </div>
          </div><br/>
          <!--end 8th row-->
          <!--5th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Health</h5>
            </div>
          </div>
          <!--end 5th sub heading row-->
          <!--9th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Doctors</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  90%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Medical Staff</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div><br/>
          <!--end 9th row-->
          <!--6th sub heading row-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="bottomBorder">Drugs</h5>
            </div>
          </div>
          <!--end 6th sub heading row-->
          <!--10th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Life Saving</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  90%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Anti-Biotic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                  70%
                </div>
              </div>
            </div>
          </div>
          <!--end 10th row-->
          <!--11th row-->
          <div class="row">
            <div class="col-md-6">
              <b>Anti-Alergic</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                  100%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <b>Others</b>
              <div class="progress" style="height:15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                  20%
                </div>
              </div>
            </div>
          </div>
          <!--end 11th row-->
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!--end 1st row-->



<!--////////////////////////////////////-->
<!--//////////Modal Window/////////////-->
<!--////////////////////////////////////-->

<!-- Start Modal Window to view points in google map -->
<div class="modal fade" id="pointModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">
      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Number of Points</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->
  
      <!--start Modal body -->
      <div class="modal-body">
        <!--map row-->
        <div class="row">
          <div class="col-md-12">
            <agm-map [latitude]="latitude" [longitude]="longitude">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
        <!--end map row-->
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to view points in google map -->
  