<br/>
<!--heading row-->
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="bottomBorder">Procurement Settings</h1>
    </div>
</div>
<!--end heading row-->
<br/>

<!--start button row-->
<div class="row">
    <div class="col-md-6">
        <button mat-raised-button color="warn">Print</button>
    </div>
    <div class="col-md-6 text-right">
        <button mat-raised-button color="primary" data-toggle="modal" data-target="#addProcureCardModal">Add New</button>
    </div>
</div>
<!--end button row-->
<br>
<div class="container">
    <div class="row">
        <!-- Mat-Card 1 -->
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <!--start edit button row-->
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="procure" data-toggle="modal" data-target="#editProcureCardModal" class=" text-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <br/>
                    <!--end edit button row-->

                    <!-- Row 1 -->
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="font-weight-bold">Type</h6>
                        </div>
                        <div class="col-md-10 text-left">
                            <h6>Quotation Work</h6>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="font-weight-bold">From</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>10</h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="font-weight-bold">To</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>100000</h6>
                        </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-weight-bold">Approving Authority</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>Committee</h6>
                        </div>
                    </div>
                    <!-- Row 4 -->
                    <br/>
                    <div class="row">
                        <div class="col-md-12 text-danger">
                            <h5 class="font-weight-bold">Rule</h5>
                        </div>
                    </div>
                    <!-- Row 5 -->
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-weight-bold">Document</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>PPRA</h6>
                        </div>
                    </div>
                    <!-- Row 6 -->
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-weight-bold">Section/Clause</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>125/a</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Mat-Card 2 -->
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <!--start edit button row-->
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="procure" data-toggle="modal" data-target="#editProcureCardModal" class=" text-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <br/>
                    <!--end edit button row-->
                    <!-- Row 1 -->
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="font-weight-bold">Type</h6>
                        </div>
                        <div class="col-md-10 text-left">
                            <h6>Tender</h6>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="font-weight-bold">From</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>100001</h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="font-weight-bold">To</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>500000</h6>
                        </div>
                    </div>
                    <!-- Row 3 -->
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-weight-bold">Approving Authority</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>Committee</h6>
                        </div>
                    </div>
                    <!-- Row 4 -->
                    <br/>
                    <div class="row">
                        <div class="col-md-12 text-danger">
                            <h5 class="font-weight-bold">Rule</h5>
                        </div>
                    </div>
                    <!-- Row 5 -->
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-weight-bold">Document</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>PPRA</h6>
                        </div>
                    </div>
                    <!-- Row 6 -->
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-weight-bold">Section/Clause</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>125/a</h6>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- Add Procuement Settings Modal Starts -->
<div class="modal fade" id="addProcureCardModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Procuement Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-card class="example-card">
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- Row 1 -->
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="fullwidth">
                                    <input matInput placeholder="Procurement Type">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Row 2 -->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="fullwidth">
                                    <input matInput placeholder="From">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="fullwidth">
                                    <input matInput placeholder="To">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Row 3 -->
                        <div class="row">
                            <div class="col-md-10">
                                <mat-form-field class="fullwidth">
                                    <mat-select placeholder="Approving Authority">
                                        <mat-option *ngFor="let pro of procure" [value]="pro.id">
                                            {{pro.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button mat-mini-fab color="primary" data-toggle="modal" data-target="#addAuthorityModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Row 4 -->
                        <br/>
                        <div class="row">
                            <div class="col-md-12 text-danger">
                                <h5 class="font-weight-bold">Rule</h5>
                            </div>
                        </div>
                        <!-- Row 5 -->
                        <div class="row">
                            <div class="col-md-10">
                                <mat-form-field class="fullwidth">
                                    <input matInput placeholder="Document">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button mat-mini-fab color="primary" data-toggle="modal" data-target="#attachAuthorityModal"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- Row 6 -->
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="fullwidth">
                                    <input matInput placeholder="Section/Clause">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Procuement Settings Modal Ends -->

<!-- Attach Approving Authority Modal Starts -->
<div class="modal fade" id="attachAuthorityModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attach Approving Authority Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="Approving Authority">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Attach Approving Authority Modal Ends -->