<div id="alert_msg_success" *ngIf="edited">
  Action Successfully Post
</div>

<div id="alert_msg_warn" *ngIf="edited1">
  Action Successfully Deleted
</div>
<br>  
<!--start heading row-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Recruitment</h1>    
  </div>
</div>
<!--end heading row-->
<br/>


<div class="container">
  <!--start table row-->       
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">                      
      <table class="table table-striped">
        <thead>
          <tr class='d-flex'>
            <th class='col-1'>Sr #</th>
            <th class='col-1'>Office</th>
            <th class='col-2'>Department</th>
            <th class='col-2'>Section</th>
            <th class='col-2'>Vacancies</th>
            <th class='col-1'>Request</th>
            <th class='col-2'>In Process</th>
            <th class='col-1'>Detail</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
          <tr class='d-flex'>
            <td class='col-1'>1</td> 
            <td class='col-1'>Fizaiya</td>             
            <td class='col-2'>IT</td>
            <td class='col-2'>ERP</td>
            <td class='col-2'>5</td>
            <td class='col-1'>3</td>
            <td class='col-2'>2</td>
            <td class='col-1 text-center'>
              <span class="fa fa-address-book pointerCursor" data-toggle="modal" data-target="#requestModal"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--end table row-->
</div>
<!--end container -->


<br/>

<!--bootstrap modal window -->



<!-- Start Modal Window -->
<div class="modal fade" id="requestModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">Recruitment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
          <!--start horizontal Stepper -->
          <mat-horizontal-stepper linear>
              <!--start 1st Step -->
              <mat-step>
                  <!--stepper 1st label-->
                  <ng-template matStepLabel><b>Request</b></ng-template>
                  <!--start form control div-->

                      <!--start row #1-->
                      <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                              <mat-select placeholder="Document">
                                <mat-option value="option1">Document 1</mat-option>
                                <mat-option value="option1">Document 2</mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <br/>
                          Document No
                        </div>

                        <div class="col-md-3">
                          <br/>
                          165
                        </div>
                      </div>
                      <!--end row #1-->
                      
                      <br/>
                      
                      <!--start row #2-->
                      <div class="row">
                          <div class="col-md-3">
                            Vacancy Id
                          </div>

                          <div class="col-md-3">
                            65
                          </div>

                          <div class="col-md-3">
                            Office
                          </div>

                          <div class="col-md-3">
                            Fizaiya
                          </div>
                      </div>
                      <!--end row #2-->

                      <br/>

                      <!--start row #3-->
                      <div class="row">
                          <div class="col-md-3">
                            <br/>
                            Job Profile
                          </div>

                          <div class="col-md-3">
                            <br/>
                            Developer
                          </div>

                          <div class="col-md-3">
                            <br/>
                            Department
                          </div>

                          <div class="col-md-3">
                            <br/>
                            IT
                          </div>
                      </div>
                      <!--end row #3-->

                      <br/>

                      <!--start row #4-->
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field>
                              <input matInput [matDatepicker]="initiateDate" placeholder="Initiate Date">
                              <mat-datepicker-toggle matSuffix [for]="initiateDate"></mat-datepicker-toggle>
                              <mat-datepicker #initiateDate></mat-datepicker>
                          </mat-form-field>
                        </div>
                        
                        <div class="col-md-3">
                          <br/>
                          Section
                        </div>

                        <div class="col-md-3">
                          <br/>
                          ERP
                        </div>
                      </div>
                      <!--end row #4-->

                      <!--start row #5-->
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field>
                              <input matInput [matDatepicker]="sdate" placeholder="Application period from">
                              <mat-datepicker-toggle matSuffix [for]="sdate"></mat-datepicker-toggle>
                              <mat-datepicker #sdate></mat-datepicker>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field>
                            <input matInput [matDatepicker]="edate" placeholder="Application period until">
                            <mat-datepicker-toggle matSuffix [for]="edate"></mat-datepicker-toggle>
                            <mat-datepicker #edate></mat-datepicker>
                          </mat-form-field>
                        </div>
                          
                      </div>
                      <!--end row #5-->

                      <!--start row #6-->
                      <div class="row">
                          <div class="col-md-4">
                            <br/>
                            Application Submitted
                          </div>

                          <div class="col-md-2">
                            <br/>
                            <mat-checkbox>via Email</mat-checkbox>
                          </div>

                          <div class="col-md-6">
                            <br/>
                            <mat-checkbox>Via Website</mat-checkbox>
                          </div>
                      </div>
                      <!--end row #6-->

                      <br/>

                      <!--start row #7-->
                      <div class="row">
                          <div class="col-md-6">
                            
                            <mat-form-field>
                              <mat-select placeholder="Quantity">
                                <mat-option value="option1">1</mat-option>
                                <mat-option value="option1">2</mat-option>
                                <mat-option value="option1">3</mat-option>
                                <mat-option value="option1">4</mat-option>
                                <mat-option value="option1">5</mat-option>
                                <mat-option value="option1">6</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                          <div class="col-md-3">
                            <br/>
                            Financial impact
                          </div>
                          <div class="col-md-3">
                            <br/>
                            65,000.00
                          </div>
                      </div>
                      <!--end row #7-->

                      <!--start row #8-->
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field>
                            <textarea matInput placeholder="Description"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <!--end row #8-->

                      <br>
                      <!--start next step button div-->
                      <div class="text-right">
                          <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                      <!--end next step button div-->
                  <!-- </form> -->
                  <!--end form control div-->
              </mat-step>
              <!--end 1st Step -->
              <!--start 2nd Step -->
              <mat-step>
                  <!--stepper 2nd label-->
                <ng-template matStepLabel><b>Approval</b></ng-template>
                  
                  <!-- start row #1-->
                  <div class="row">
                    <button mat-raised-button color="primary" data-toggle="modal" data-target="#detailModal">Approval Detail</button>
                  </div>
                  <!-- end row #1-->

                  <br/>

                  <!--Start row 2-->
                  <div class="row">
                    <!--start approving authority table -->
                    <div class="col-md-6">
                      <h4>Approving Authority</h4>
                      <!--start table row-->       
                      <div class="example-container mat-elevation-z8">
                          <div class="example-table-container">                      
                            <table class="table table-striped">
                              <thead>
                                <tr class='d-flex'>
                                  <th class='col-2'>Sr #</th>
                                  <th class='col-5'>Stage</th>
                                  <th class='col-5'>Authority</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                                <tr class='d-flex'>
                                  <td class='col-2'>1</td> 
                                  <td class='col-5'>Initial serving</td>             
                                  <td class='col-5'>AD</td>
                                </tr>

                                <tr class='d-flex'>
                                  <td class='col-2'>2</td> 
                                  <td class='col-5'>Test</td>             
                                  <td class='col-5'>DD</td>
                                </tr>

                                <tr class='d-flex'>
                                  <td class='col-2'>3</td> 
                                  <td class='col-5'>Interview</td>             
                                  <td class='col-5'>Dir</td>
                                </tr>

                                <tr class='d-flex'>
                                  <td class='col-2'>4</td> 
                                  <td class='col-5'>Appointment</td>             
                                  <td class='col-5'>GM</td>
                                </tr>

                                <tr class='d-flex'>
                                  <td class='col-2'></td> 
                                  <td class='col-5'></td>             
                                  <td class='col-5 text-center'>
                                    <span class="fa fa-plus pointerCursor"></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                      <!--end table row-->
                    </div>
                    <!--End approving authority table -->

                    <!--start Interview panel table -->
                    <div class="col-md-6">
                      <h4>Interview Panel</h4>
                      <!--start table row-->       
                      <div class="example-container mat-elevation-z8">
                        <div class="example-table-container">                      
                          <table class="table table-striped">
                            <thead>
                              <tr class='d-flex'>
                                <th class='col-2'>Sr #</th>
                                <th class='col-5'>Official</th>
                                <th class='col-5'>Description</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                              <tr class='d-flex'>
                                <td class='col-2'>1</td> 
                                <td class='col-5'>GM</td>             
                                <td class='col-5'>Chairman</td>
                              </tr>

                              <tr class='d-flex'>
                                <td class='col-2'>2</td> 
                                <td class='col-5'>Director</td>             
                                <td class='col-5'>Member</td>
                              </tr>

                              <tr class='d-flex'>
                                <td class='col-2'></td> 
                                <td class='col-5'></td>             
                                <td class='col-5 text-center'>
                                  <span class="fa fa-plus pointerCursor"></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--end table row-->
                    </div>
                    <!--End Interview table -->
                  </div>
                  <!--end row 2-->
                  
                  <br/><br/>

                  <!--Start row 3-->
                  <div class="row">
                    <div class="col-md-12">
                        <h4>Test</h4>
                        <!--start table row-->       
                        <div class="example-container mat-elevation-z8">
                            <div class="example-table-container">                      
                              <table class="table table-striped">
                                <thead>
                                  <tr class='d-flex'>
                                    <th class='col-1'>Sr #</th>
                                    <th class='col-3'>Subject</th>
                                    <th class='col-3'>Total Marks</th>
                                    <th class='col-3'>Passing Marks</th>
                                    <th class='col-1'>Edit</th>
                                    <th class='col-1'>Add</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                                  <tr class='d-flex'>
                                    <td class='col-1'>1</td> 
                                    <td class='col-3'>English</td>             
                                    <td class='col-3'>100</td>
                                    <td class='col-3'>80</td>
                                    <td class='col-1 text-center'>
                                      <span class="fa fa-edit pointerCursor" data-toggle="modal" data-target="#editTest"></span>
                                    </td>
                                    <td class='col-1 text-center'>
                                      <span class="fa fa-plus-circle pointerCursor" data-toggle="modal" data-target="#addTest"></span>
                                    </td>
                                  </tr>
  
                                  <tr class='d-flex'>
                                    <td class='col-1'>1</td> 
                                    <td class='col-3'>JK</td>             
                                    <td class='col-3'>100</td>
                                    <td class='col-3'>80</td>
                                    <td class='col-1 text-center'>
                                      <span class="fa fa-edit pointerCursor" data-toggle="modal" data-target="#editTest"></span>
                                    </td>
                                    <td class='col-1 text-center'>
                                      <span class="fa fa-plus-circle pointerCursor" data-toggle="modal" data-target="#addTest"></span>
                                    </td>
                                  </tr>

                                  <tr class='d-flex'>
                                    <td class='col-1'>1</td> 
                                    <td class='col-3'>VB</td>             
                                    <td class='col-3'>50</td>
                                    <td class='col-3'>40</td>
                                    <td class='col-1 text-center'>
                                      <span class="fa fa-edit pointerCursor" data-toggle="modal" data-target="#editTest"></span>
                                    </td>
                                    <td class='col-1 text-center'>
                                      <span class="fa fa-plus-circle pointerCursor" data-toggle="modal" data-target="#addTest"></span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                        <!--end table row-->
                    </div>
                  </div>
                  <!--end row 3-->
                  

                  <br/><br/>
                  <!--start next step button div -->
                  <div class="row text-right">
                    <div class="col-md-12">
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                  </div>
                  <!--end next step button div -->

                  <!--end 2nd step form control div-->
              </mat-step>
              <!--end 2nd Step -->
              <!--start 3rd Step -->
              <mat-step>
                  <!--stepper 3rd label-->
                  <ng-template matStepLabel><b>Publishing</b></ng-template>
                  <!--start 3rd step form control div-->
                      <!--3rd step heading div-->
                      <div class="text-center">
                          <h4>Preview Add</h4>
                      </div>
                      <br/>

                      <!--start table row-->       
                      <div class="example-container mat-elevation-z8">
                        <div class="example-table-container">                      
                          <table class="table table-striped">
                            <thead>
                              <tr class='d-flex'>
                                <th class='col-1'>Sr #</th>
                                <th class='col-7'>abc</th>
                                <th class='col-2'>Publish</th>
                                <th class='col-2'>Print Copy</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                              <tr class='d-flex'>
                                <td class='col-1'>1</td>             
                                <td class='col-7'>Print Media</td>
                                <td class='col-2'>Yes/No</td>
                                <td class='col-2'>Doc/PDF</td>
                              </tr>

                              <tr class='d-flex'>
                                <td class='col-1'>2</td>             
                                <td class='col-7'>Website</td>
                                <td class='col-2'>Yes/No</td>
                                <td class='col-2'>Doc/PDF</td>
                              </tr>

                              <tr class='d-flex'>
                                <td class='col-1'>3</td>             
                                <td class='col-7'>Linkedin</td>
                                <td class='col-2'>Yes/No</td>
                                <td class='col-2'>Doc/PDF</td>
                              </tr>

                              <tr class='d-flex'>
                                <td class='col-1'>4</td>             
                                <td class='col-7'>Job Master</td>
                                <td class='col-2'>Yes/No</td>
                                <td class='col-2'>Doc/PDF</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!--end table row-->
                      
                  <!--end 3rd step form control div-->
              </mat-step>
              <!--end 3rd Step -->
          </mat-horizontal-stepper>
          <!--end horizontal Stepper -->
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window  -->

<!-- Start approval detail  Modal Window -->
<div class="modal fade" id="detailModal">
    <div class="modal-dialog shadow-md-dark modal-md">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Approval Detail</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
            <!--end Modal Header -->
    
        <!--start Modal body -->
        <div class="modal-body">
          <!--Row #1-->  
          <div class="row">
            <div class="col-md-7">
                <mat-card class="example-card">

                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Iftkhar Ali</mat-card-title>
                      <mat-card-subtitle>HR Director</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                      <p>
                        Request for approval of post.
                      </p>
                    </mat-card-content>
                    <mat-card-actions class="text-right">
                      <span class="fa fa-share"></span>
                    </mat-card-actions>
                  </mat-card>
            </div>
          </div>
          <!--end of row #1 -->

          <br/>
          
          <!--start row #2-->
          <div class="row">
            <div class="col-md-5"></div>
            
            <div class="col-md-offset-5 col-md-7">
              <mat-card class="example-card-r">

                <mat-card-header>
                  <div mat-card-avatar class="example-header-image-r"></div>
                  <mat-card-title>Usama Khan</mat-card-title>
                  <mat-card-subtitle>Recruitment Officer</mat-card-subtitle>
                  
                </mat-card-header>

                <mat-card-content>
                  <p>
                    Please discus
                  </p>
                </mat-card-content>
                <mat-card-actions class="">
                  <span class="fa fa-reply"></span>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <!--end row 2-->

          <br/>

          <!--Row #1-->  
          <div class="row">
              <div class="col-md-7">
                  <mat-card class="example-card">
  
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Iftkhar Ali</mat-card-title>
                        <mat-card-subtitle>HR Director</mat-card-subtitle>
                      </mat-card-header>
  
                      <mat-card-content>
                        <p>
                          Approved.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="text-right">
                        <span class="fa fa-share"></span>
                      </mat-card-actions>
                    </mat-card>
              </div>
          </div>
          <!--end of row #1 -->

          <br/>
        <!--end Modal body -->
  
        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->
  
        </div>
      </div>
    </div>
</div>
<!-- End approval detail Modal Window  -->

<!-- Start edit subject modal -->
<div class="modal fade" id="editTest">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Subject</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->
  
        <!--start Modal body -->
        <div class="modal-body"> 
          <!--start row 1  -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Random Selection">
                  <mat-option>5</mat-option>
                  <mat-option>10</mat-option>
                  <mat-option>15</mat-option>
                  <mat-option>20</mat-option>
                  <mat-option>25</mat-option>
                  <mat-option>30</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!--end row 1-->
          <br/>
          <!--start table row-->       
          <div class="example-container mat-elevation-z8">
            <div class="example-table-container">                      
              <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-1'>Sr #</th>
                    <th class='col-6'>Question</th>
                    <th class='col-2'>Marks</th>
                    <th class='col-2'>Time Req.</th>
                    <th class='col-1'>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                  <tr class='d-flex'>
                    <td class='col-1'>1</td>             
                    <td class='col-6'>What is your name?</td>
                    <td class='col-2'>5</td>
                    <td class='col-2'>1 min.</td>
                    <td class='col-1 text-center'><mat-checkbox></mat-checkbox></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--end table row-->    
          <br/>   
        </div>
        <!--end Modal body -->
  
        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->
  
      </div>
    </div>
</div>
<!-- End edit subject modal -->
  
<!-- Start add subject modal -->
<div class="modal fade" id="addTest">
  <div class="modal-dialog shadow-md-dark modal-md">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Subject</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body"> 
        <!--start row #1-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder="Subject">
                <mat-option value="option1">English</mat-option>
                <mat-option value="option1">JK</mat-option>
                <mat-option value="option1">VB</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!--end row #1-->

        <!--start row #2-->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Total Marks">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Passing Marks">
            </mat-form-field>
          </div>
        </div>
        <!--end row #2-->
        
        <!--start row #2-->
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="primary">Save</button>
          </div>
        </div>
        <!--end row #2-->
        
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End add subject modal -->