<!--start heading row-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Sanctions Rule</h1>    
  </div>
</div>
<!--end heading row-->
<br/>
  
<!--start add new button row -->
<div class="row">
  <div class="col-md-12 text-right">
    <button mat-raised-button color="primary" data-toggle="modal" data-target="#addSanctionModal"> Add New </button>
  </div>
</div>
<!--end add new button row -->

<br/>


<div class="container">
  <!--start table row-->       
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">                      
      <table class="table table-striped">
        <thead>
          <tr class='d-flex'>
            <th class='col-1'>Sr #</th>
            <th class='col-5'>Sanctions</th>
            <th class='col-2'>G/L</th>
            <th class='col-2'>Party</th>
            <th class='col-1 text-center'>Edit</th>
            <th class='col-1 text-center'>Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
          <tr class='d-flex'>
            <td class='col-1'>1</td> 
            <td class='col-5'>Medical</td>
            <td class='col-2'>100</td>
            <td class='col-2'>Employee</td>
            <td class='col-1 text-center'>
              <span class="fa fa-edit pointerCursor"></span>
            </td>
            <td class='col-1 text-center'>
              <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span>
            </td>
          </tr>

          <tr class='d-flex'>
            <td class='col-1'>2</td> 
            <td class='col-5'>TA/DA</td>
            <td class='col-2'>-</td>
            <td class='col-2'>Approving Authority</td>
            <td class='col-1 text-center'>
              <span class="fa fa-edit pointerCursor"></span>
            </td>
            <td class='col-1 text-center'>
              <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span>
            </td>
          </tr>

          <tr class='d-flex'>
            <td class='col-1'>3</td> 
            <td class='col-5'>Furniture</td>
            <td class='col-2'>-</td>
            <td class='col-2'>External</td>
            <td class='col-1 text-center'>
              <span class="fa fa-edit pointerCursor"></span>
            </td>
            <td class='col-1 text-center'>
              <span class="fa fa-trash pointerCursor" data-toggle="modal" data-target="#deleteModal"></span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!--end table row-->
</div>
<!--end container -->

<br/>

<!--bootstrap modal window -->



<!-- Start Modal Window -->
<div class="modal fade" id="addSanctionModal">
  <div class="modal-dialog shadow-md-dark modal-md">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">Sanctions Rule</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
                
        <!--start row 1-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Sanction">
            </mat-form-field>
          </div>
        </div>
        <!-- end row 1-->

        <!--start row 2-->
        <div class="row tab-margin">

          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="G/L Code">
                <mat-option value="1">100</mat-option>
                <mat-option value="2">101</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Party">
                  <mat-option value="1">Approving Authority</mat-option>
                  <mat-option value="2">External</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- end row 2-->

        <!--start row 3-->
        <div class="row tab-margin">
          <div class="col-md-6">
              <button mat-raised-button color="primary"> Save </button>
          </div>
        </div>
        <!--end row 3-->
        

      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window  -->


<!-- Start Modal Window to delete-->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">
        <!--start Modal body -->
        <div class="modal-body">
          <br>
          <div class="hidden" ngDefaultControl></div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <h2>Delete Entry</h2>
            </div>
          </div><br/>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="fullwidth">
                <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtdPassword">
              </mat-form-field>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="fullwidth">
                <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button color="warn" data-dismiss="modal" (click)="delete()">Delete</button>
            </div>
          </div>
          <br/>
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to delete-->