<div class="topnav boxShadow">
  <div>
    <!--class="container" -->
    <div class="logo"><img src="../../../assets/images/JobProfile.svg"></div>
    <h1> Job Profile</h1>

  </div>
</div>
<!-- end menubar buttons -->

<div class="container-fluid bgWhite bottomBorder">
  <br>
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel style="pointer-events: none !important;">Personal Info</ng-template>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class='fullwidth' appearance="legacy">
            <mat-label class="inputLabel">Full Name</mat-label>
            <input id="txtFullName" matInput class='loginInput' [(ngModel)]="txtFullName" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class='fullwidth' appearance="legacy">
            <mat-label class="inputLabel">CNIC</mat-label>
            <input id="txtCNIC" matInput class='loginInput' [(ngModel)]="txtCNIC" required>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class='fullwidth' appearance="legacy">
            <mat-label class="inputLabel">Father Name</mat-label>
            <input id="txtFatherName" matInput class='loginInput' [(ngModel)]="txtFatherName" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="fullwidth">
            <mat-select placeholder="Gender" [(ngModel)]="cmbGender" required>
              <mat-option [value]="1">Male</mat-option>
              <mat-option [value]="2">Female</mat-option>
              <mat-option [value]="3">Transgender</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class='fullwidth' appearance="legacy">
            <mat-label class="inputLabel">Mobile No</mat-label>
            <input id="txtMobile" matInput class='loginInput' [(ngModel)]="txtMobile" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class='fullwidth' appearance="legacy">
            <mat-label class="inputLabel">Telephone No</mat-label>
            <input id="txtTelephone" matInput class='loginInput' [(ngModel)]="txtTelephone">
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class='fullwidth' appearance="legacy">
            <mat-label class="inputLabel">Address</mat-label>
            <input id="txtAddress" matInput class='loginInput' [(ngModel)]="txtAddress" required>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="offset-md-8 col-md-2">
          <button class='fullwidth' mat-raised-button color="primary" (click)="saveInfo(stepper)">Save & Next</button>          
        </div>
        <div class="col-md-2">
          <button class='fullwidth' mat-raised-button color="warn" (click)="clearInfo()">Reset</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Education</ng-template>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr class='d-flex'>
                <th class='col-1 text-center'>Sr #</th>
                <th class='col-2'>Qualification</th>
                <th class='col-2'>Requird years of Qualification</th>
                <th class='col-3 text-center'>years of Qualification</th>
                <th class='col-3 text-center'>Passing Year</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
              <tr class='d-flex' *ngFor="let degree of jobQualDegree let
              i=index">
                <td class='col-1 text-center'>{{i+1}}</td>
                <td class='col-2'>{{degree.qlfctnName}}</td>
                <td class='col-2'>{{degree.qlfctnCriteriaReqdLvl}}</td>
                <td class='col-3 text-center'><input type="text" pInputText [(ngModel)]="degree.avail" /></td>
                <td class='col-3 text-center'><input type="text" pInputText [(ngModel)]="degree.passingYear" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-8 col-md-2">
          <button class='fullwidth' mat-raised-button color="primary" (click)="saveQualification(stepper)">Save & Next</button>          
        </div>
        <div class="col-md-2">
          <button class='fullwidth' mat-raised-button color="warn" (click)="clearEducation()">Reset</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Certification</ng-template>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr class='d-flex'>
                <th class='col-1 text-center'>Sr #</th>
                <th class='col-2'>Certification</th>
                <th class='col-2'>Requird Duration</th>
                <th class='col-3 text-center'>Certificate Duration</th>
                <th class='col-3 text-center'>Passing Year</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
              <tr class='d-flex' *ngFor="let certificate of jobQualCertificate let
              i=index">
                <td class='col-1 text-center'>{{i+1}}</td>
                <td class='col-2'>{{certificate.qlfctnName}}</td>
                <td class='col-2'>{{certificate.qlfctnCriteriaReqdLvl}}</td>
                <td class='col-3 text-center'><input type="text" pInputText [(ngModel)]="certificate.avail" /></td>
                <td class='col-3 text-center'><input type="text" pInputText [(ngModel)]="certificate.passingYear" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-8 col-md-2">
          <button class='fullwidth' mat-raised-button color="primary" (click)="saveCertification(stepper)">Save & Next</button>          
        </div>
        <div class="col-md-2">
          <button class='fullwidth' mat-raised-button color="warn" (click)="clearCertificate()">Reset</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Skills</ng-template>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr class='d-flex'>
                <th class='col-2 text-center'>Sr #</th>
                <th class='col-4'>Skill</th>
                <th class='col-4 text-center'>Avail</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
              <tr class='d-flex' *ngFor="let skill of jobQualSkill let
              i=index">
                <td class='col-2 text-center'>{{i+1}}</td>
                <td class='col-4'>{{skill.qlfctnName}}</td>
                <td class='col-4 text-center'><input type="text" pInputText [(ngModel)]="skill.avail" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button mat-raised-button color="primary" (click)="saveSkill(stepper)">Save & Next</button>
          <button mat-raised-button color="warn" (click)="clearSkills()">Reset</button>
        </div>
      </div>
    </mat-step>
    <!-- <mat-step>
      <ng-template matStepLabel>Experience</ng-template>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr class='d-flex'>
                <th class='col-1 text-center'>Sr #</th>
                <th class='col-7'>Experience</th>
                <th class='col-1'>Requird</th>
                <th class='col-3 text-center'>Avail</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
    <!-- <tr class='d-flex'
              *ngFor="let post of posts | search:'offices,department,section,jobTitle,qty':postSearch let i=index">
              <td class='col-1 text-center'>{{i+1}}</td>
              <td class='col-3'>{{post.office}}</td>
              <td class='col-2'>{{post.department}}</td>
              <td class='col-3'>{{post.section}}</td>
              <td class='col-2'>{{post.designation}}</td>
              <td class='col-1 text-center'>{{post.desigCount}}</td>
            </tr> -->
    <!-- </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button mat-raised-button color="primary">Save</button>
          <button mat-raised-button color="warn" (click)="clearExperience()">Reset</button>
        </div>
      </div>
    </mat-step> -->
  </mat-horizontal-stepper>
</div>
