<br/>
<h1 style="margin-left: 35px;">
  Dashboard works!
</h1>

<div class="container_boxes">

  <div class="box_users" style="margin-left: 40px; background: #689ACA;">
    <div class="icon"><span class="fa fa-edit"></span></div>
    <div class="caption">12 User</div>
  </div>

  <div class="box_users" style="background: #FD9927;">
    <div class="icon"></div>
    <div class="caption">Roles</div>
  </div>

  <div class="box_users" style="background: #76A728;">
    <div class="icon"></div>
    <div class="caption">Menu Items</div>
  </div>

  <div class="box_users" style="background: #B1379E;">
    <div class="icon"></div>
    <div class="caption">Company</div>
  </div>

  <div class="box_users" style="background: #27AFB8;">
    <div class="icon"></div>
    <div class="caption">Branches</div>
  </div>

</div>

<!-- Charts HTML Start -->
<div class="container_charts">
  
  <!--Pie chart-->
  <div class="pie_chart">
    <div [chart]="Pie_Chart"></div>
  </div>

  
  <!--Line chart-->
  <div class="line_chart">
    <div [chart]="Line_chart"></div>
  </div>

</div>
<!-- Charts HTML End-->


<!-- Galary HTML Start-->
<div class="container_galary">
  <div class="galary_left">
    <div class="caption">Regular User</div>
  </div>

  <div class="galary_right">
    <div class="caption">Silent User</div>
  </div>
</div>
<!-- Galary HTML End-->