<br/>
<div id="alert_msg_success" *ngIf="edited">
  Action Successfully Saved
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">User Management Dashboard</h1>    
  </div>
</div>

<br/><br>

<!-- container -->
<div class="container">
  <div class="row">  
    <div class="example-container mat-elevation-z8 fullwidth">
      <div class="example-table-container fullwidth">            
        <table class="table table-striped fullwidth">
          <thead>
            <tr class='d-flex'>
              <th class='col-6'>Login Name</th>
              <th class='col-6'>Mobile</th>       
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of empDetail" class='d-flex'>
              <td class="col-6">{{item.employeeName}}</td>
              <td class="col-6">{{item.mobileNo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">  
    <div class="example-container mat-elevation-z8 fullwidth">
      <div class="example-table-container fullwidth">            
        <table class="table table-striped fullwidth">
          <thead>
            <tr class='d-flex'>
              <th class='col-6'>User Name</th>
              <th class='col-6'>Mobile</th>       
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userDetail" class='d-flex'>
              <td class="col-6">{{item.LoginName}}</td>
              <td class="col-6">{{item.MobileNo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">  
    <div class="example-container mat-elevation-z8 fullwidth">
      <div class="example-table-container fullwidth">            
        <table class="table table-striped fullwidth">
          <thead>
            <tr class='d-flex'>
              <th class='col-6'>City Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cityDetail" class='d-flex'>
              <td class="col-6">{{item.CityName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">  
    <div class="example-container mat-elevation-z8 fullwidth">
      <div class="example-table-container fullwidth">            
        <table class="table table-striped fullwidth">
          <thead>
            <tr class='d-flex'>
              <th class='col-6'>Country Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of countryDetail" class='d-flex'>
              <td class="col-6">{{item.CountryName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br/><br/>
  <!-- box row -->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-pink hover-expand-effect" data-toggle="modal" data-target="#userModal">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="content">
          <div class="text">Users</div>
          <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">12</div>                                                                
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-cyan hover-expand-effect" data-toggle="modal" data-target="#roleModal">
        <div class="icon">
          <i class="fa fa-wrench"></i>
        </div>
        <div class="content">
          <div class="text">Roles</div>
          <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">5</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-light-green hover-expand-effect" data-toggle="modal" data-target="#userReqModal">
        <div class="icon">
          <i class="fa fa-exchange"></i>
        </div>
        <div class="content">
          <div class="text">User Request</div>
          <div class="number count-to"  data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">1</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-indigo hover-expand-effect" data-toggle="modal" data-target="#roleReqModal">
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <div class="content">
          <div class="text">Role Request</div>
          <div class="number count-to"  data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">1</div>
        </div>
      </div>
    </div>
  </div><!-- end box row -->  

</div><!-- end container -->

<!-- Bootstrap Modal Windows -->

<!-- Start Modal Window for Users to view users data -->
<div class="modal fade" id="userModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Users List</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body">
        
      <div class="example-container mat-elevation-z8">
        <div class="example-table-container">            
          <table class="table table-striped">
            <thead>
              <tr class='d-flex'>
                <th class='col-1 text-center'>Sr#</th>
                <th class='col-2'>User Name</th>
                <th class='col-3'>Full Name</th>
                <th class='col-3'>Email</th>
                <th class='col-2'>Role</th>
                <th class="col-1">Log</th>          
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
              <tr class='d-flex'>
                <td class="col-1 text-center">1</td>
                <td class="col-2">Nabeel</td>
                <td class="col-3">Nabeel Ahmed</td>
                <td class="col-3">nabeel@gmail.com</td>
                <td class="col-2">Admin</td>
                <td class="col-1 text-center"><span class="fa fa-file fontPrimary pointerCursor" data-toggle="modal" data-target="#userLogModal"></span></td>
              </tr>
              <tr class='d-flex' style="color:red !important">
                <td class="col-1 text-center">2</td>
                <td class="col-2">Adnan</td>
                <td class="col-3">Adnan Ali</td>
                <td class="col-3">adnan@yahoo.com</td>
                <td class="col-2">Visitor</td>
                <td class="col-1 text-center"><span class="fa fa-file fontPrimary pointerCursor" data-toggle="modal" data-target="#userLogModal"></span></td>
              </tr>
              <tr class='d-flex'>
                <td class="col-1 text-center">3</td>
                <td class="col-2">Amir</td>
                <td class="col-3">Amir Qureshi</td>
                <td class="col-3">amir@hotmail.com</td>
                <td class="col-2">Visitor</td>
                <td class="col-1 text-center"><span class="fa fa-file fontPrimary pointerCursor" data-toggle="modal" data-target="#userLogModal"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--end Modal body -->

    <!--start Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div><!--end Modal footer -->
    </div>
  </div>
</div>
<!-- End Modal Window for Users to view users data -->


<!-- Start Modal Window for Users to view logs data -->
<div class="modal fade" id="userLogModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Event Log</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->
  
        <!--start Modal body -->
        <div class="modal-body">
          
        <div class="example-container mat-elevation-z8">
            <div class="example-table-container">
              
              <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-2 text-center'>Sr#</th>
                    <th class='col-3'>Action</th>
                    <th class='col-5'>Action Date Time</th>
                    <th class='col-2 text-center'>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                  <tr class='d-flex'>
                    <td class="col-2 text-center">1</td>
                    <td class="col-3">Addition</td>
                    <td class="col-5">15-Oct-2018 15:34</td>
                    <td class="col-2 text-center"><span class="fa fa-envelope pointerCursor fontRed" data-toggle="modal" data-target="#msgModal"></span></td>
                  </tr>
                  <tr class='d-flex'>
                    <td class="col-2 text-center">2</td>
                    <td class="col-3">Deletion</td>
                    <td class="col-5">15-Oct-2018 15:35</td>
                    <td class="col-2 text-center"><span class="fa fa-envelope pointerCursor fontRed" data-toggle="modal" data-target="#msgModal"></span></td>
                  </tr>
                  <tr class='d-flex'>
                    <td class="col-2 text-center">3</td>
                    <td class="col-3">Deletion</td>
                    <td class="col-5">15-Oct-2018 15:36</td>
                    <td class="col-2 text-center"><span class="fa fa-envelope pointerCursor fontRed" data-toggle="modal" data-target="#msgModal"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window for Users to view logs data -->


<!-- Start Modal Window to view Roles data -->
<div class="modal fade" id="roleModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User Roles</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->
  
        <!--start Modal body -->
        <div class="modal-body">
          
        <div class="example-container mat-elevation-z8">
            <div class="example-table-container">
            
            <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-2 text-center'>Sr#</th>
                    <th class='col-3'>Role Title</th>
                    <th class='col-5'>Permissions</th>
                    <th class='col-2 text-center'>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                  <tr class='d-flex'>
                    <td class="col-2 text-center">1</td>
                    <td class="col-3">Financial User</td>
                    <td class="col-5">Financial (10), HR (2)</td>
                    <td class="col-2 text-center"><span class="fa fa-info-circle fontPrimary pointerCursor" data-toggle="modal" data-target="#roleMenuModal" (click)="finUsr()"></span></td>
                  </tr>
                  <tr class='d-flex'>
                    <td class="col-2 text-center">2</td>
                    <td class="col-3">Admin & HR User</td>
                    <td class="col-5">HR & Admin (15)</td>
                    <td class="col-2 text-center"><span class="fa fa-info-circle fontPrimary pointerCursor" data-toggle="modal" data-target="#roleMenuModal" (click)="hrUsr()"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window to view role data -->


<!-- Start Modal Window to assign roles -->
<div class="modal fade" id="roleMenuModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        <!--start Modal body -->
        <div class="modal-body">
            <br>
            <div *ngIf="finUser">
              <div class="row">
                <div class="col-md-6">
                  <h2>Finance User</h2>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Inventory Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                        <div class="row">
                          <div class="col-md-4">                              
                          </div>
                          <div class="col-md-2 text-center">
                            Addition    
                          </div>
                          <div class="col-md-2 text-center">
                            Updation
                          </div>
                          <div class="col-md-2 text-center">
                            Deletion
                          </div>
                          <div class="col-md-2 text-center">
                            View
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            Inventory Module
                          </div>
                          <div class="col-md-2 text-center">
                            <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                          </div>
                          <div class="col-md-2 text-center">
                            <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                          </div>
                          <div class="col-md-2 text-center">
                              <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                          </div>
                          <div class="col-md-2 text-center">
                              <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                          </div>
                        </div>                        
                      </section>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Accounts Payable Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                      <div class="row">
                          <div class="col-md-4">                              
                          </div>
                          <div class="col-md-2 text-center">
                            Addition    
                          </div>
                          <div class="col-md-2 text-center">
                            Updation
                          </div>
                          <div class="col-md-2 text-center">
                            Deletion
                          </div>
                          <div class="col-md-2 text-center">
                            View
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            Accounts Payable Module
                          </div>
                          <div class="col-md-2 text-center">
                            <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                          </div>
                          <div class="col-md-2 text-center">
                            <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                          </div>
                          <div class="col-md-2 text-center">
                              <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                          </div>
                          <div class="col-md-2 text-center">
                              <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                          </div>
                        </div>                        
                      </section>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                          (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          General Ledger Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                          <div class="row">
                              <div class="col-md-4">                              
                              </div>
                              <div class="col-md-2 text-center">
                                Addition    
                              </div>
                              <div class="col-md-2 text-center">
                                Updation
                              </div>
                              <div class="col-md-2 text-center">
                                Deletion
                              </div>
                              <div class="col-md-2 text-center">
                                View
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                General Ledger Module
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                              </div>
                            </div>                        
                      </section>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                          (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Financial Statements Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                          <div class="row">
                              <div class="col-md-4">                              
                              </div>
                              <div class="col-md-2 text-center">
                                Addition    
                              </div>
                              <div class="col-md-2 text-center">
                                Updation
                              </div>
                              <div class="col-md-2 text-center">
                                Deletion
                              </div>
                              <div class="col-md-2 text-center">
                                View
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                Financial Statement Module
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                              </div>
                            </div>                        
                      </section>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                  
              </div>
            
            </div>
    
            <div *ngIf="hrUser">
              <div class="row">
                <div class="col-md-6">
                    <h2>Admin & HR User</h2>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Online Recruitment Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                          <div class="row">
                              <div class="col-md-4">                              
                              </div>
                              <div class="col-md-2 text-center">
                                Addition    
                              </div>
                              <div class="col-md-2 text-center">
                                Updation
                              </div>
                              <div class="col-md-2 text-center">
                                Deletion
                              </div>
                              <div class="col-md-2 text-center">
                                View
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                Online Recruitment Module
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                              </div>
                            </div>                        
                      </section>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                          (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Auto Enrollment Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                          <div class="row">
                              <div class="col-md-4">                              
                              </div>
                              <div class="col-md-2 text-center">
                                Addition    
                              </div>
                              <div class="col-md-2 text-center">
                                Updation
                              </div>
                              <div class="col-md-2 text-center">
                                Deletion
                              </div>
                              <div class="col-md-2 text-center">
                                View
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                Auto Enrollment Module
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                              </div>
                            </div>
                      </section>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                          (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Training  Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                          <div class="row">
                              <div class="col-md-4">                              
                              </div>
                              <div class="col-md-2 text-center">
                                Addition    
                              </div>
                              <div class="col-md-2 text-center">
                                Updation
                              </div>
                              <div class="col-md-2 text-center">
                                Deletion
                              </div>
                              <div class="col-md-2 text-center">
                                View
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                Training Module
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                              </div>
                            </div>
                      </section>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                          (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Payroll  Module
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <section class="example-section">
                          <div class="row">
                              <div class="col-md-4">                              
                              </div>
                              <div class="col-md-2 text-center">
                                Addition    
                              </div>
                              <div class="col-md-2 text-center">
                                Updation
                              </div>
                              <div class="col-md-2 text-center">
                                Deletion
                              </div>
                              <div class="col-md-2 text-center">
                                View
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                Payroll Module
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkAdd"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                <mat-checkbox class="example-margin" [(ngModel)]="chkUpdate"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkDelete"></mat-checkbox>
                              </div>
                              <div class="col-md-2 text-center">
                                  <mat-checkbox class="example-margin" [(ngModel)]="chkView"></mat-checkbox>
                              </div>
                            </div>
                      </section>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                  
              </div>
            
            </div> 
        
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window for Menu Items -->


<!-- Start Modal Window to view User Request Data -->
<div class="modal fade" id="userReqModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User Requests</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->
  
        <!--start Modal body -->
        <div class="modal-body">
        
            <div class="example-container mat-elevation-z8">
                <div class="example-table-container">
                  
                  <table class="table table-striped">
                    <thead>
                      <tr class='d-flex'>
                        <th class='col-1 text-center'>Sr#</th>
                        <th class='col-4'>Sender</th>
                        <th class='col-5'>User Name</th>                        
                        <th class='col-1 text-center'>Accept</th>
                        <th class='col-1 text-center'>Query</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                      <tr class='d-flex'>
                        <td class="col-1 text-center">1</td>
                        <td class="col-4">Iqbal Shami - DD(Accounts) - Finance</td>
                        <td class="col-5">Ali Akbar - Supdt(Accounts) - Financial Simple Role</td>                        
                        <td class="col-1 text-center"><span class="fa fa-check-circle fontPrimary pointerCursor" data-toggle="modal" data-target="#reqAcceptModal"></span></td>
                        <td class="col-1 text-center"><span class="fa fa-envelope fontRed pointerCursor" data-toggle="modal" data-target="#msgModal"></span></td>
                      </tr>
                      <tr class='d-flex'>
                        <td class="col-1 text-center">2</td>
                        <td class="col-4">Shahid Ahmed - Dir(Admin) - Administration</td>
                        <td class="col-5">Masood Ahmed - Chartered Accountant - Auditor Visitor Role</td>                        
                        <td class="col-1 text-center"><span class="fa fa-check-circle fontPrimary pointerCursor" data-toggle="modal" data-target="#reqAcceptModal"></span></td>
                        <td class="col-1 text-center"><span class="fa fa-envelope fontRed pointerCursor" data-toggle="modal" data-target="#msgModal"></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>  
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window to view User Request Data -->


<!-- Start Modal Window to view User Role Request Data -->
<div class="modal fade" id="roleReqModal">
    <div class="modal-dialog shadow-lg-dark modal-lg">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Role Requests</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!--end Modal Header -->
  
        <!--start Modal body -->
        <div class="modal-body">        
          <div class="example-container mat-elevation-z8">
            <div class="example-table-container">                      
              <table class="table table-striped">
                <thead>
                  <tr class='d-flex'>
                    <th class='col-1 text-center'>Sr#</th>
                    <th class='col-5'>Sender</th>
                    <th class='col-4'>Role Name</th>                    
                    <th class='col-1 text-center'>Accept</th>
                    <th class='col-1 text-center'>Query</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                  <tr class='d-flex'>
                    <td class="col-1 text-center">1</td>
                    <td class="col-5">Muhammad Abdullah - Director(Accounts) - Finance</td>
                    <td class="col-4">Financial Simple Role</td>                    
                    <td class="col-1 text-center"><span class="fa fa-check-circle fontPrimary pointerCursor" data-toggle="modal" data-target="#reqAcceptModal"></span></td>
                    <td class="col-1 text-center"><span class="fa fa-envelope fontRed pointerCursor" data-toggle="modal" data-target="#msgModal"></span></td>
                  </tr>
                  <tr class='d-flex'>
                    <td class="col-1 text-center">2</td>
                    <td class="col-5">Nazim Ali - DD(Admin) - Administration</td>
                    <td class="col-4">Medical Sanctions Role</td>                    
                    <td class="col-1 text-center"><span class="fa fa-check-circle fontPrimary pointerCursor" data-toggle="modal" data-target="#reqAcceptModal"></span></td>
                    <td class="col-1 text-center"><span class="fa fa-envelope fontRed pointerCursor" data-toggle="modal" data-target="#msgModal"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>  
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window to view User Role Request Data -->

<!-- Start Modal Window Users Request to Accept user Request -->
<div class="modal fade" id="reqAcceptModal">
    <div class="modal-dialog shadow-lg-dark">
      <div class="modal-content">
        <!--start Modal body -->
        <div class="modal-body">
            
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>User Request</h2>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Password" type="password" [(ngModel)]="txtPassword">
              </mat-form-field>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtPin">
              </mat-form-field>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button color="primary" (click)="acceptData()" data-dismiss="modal">Accept</button>
            </div>
          </div>
          <br/>
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window Users Request to Accept user Request -->


<!-- Start Modal Window to send message -->
<div class="modal fade" id="msgModal">
    <div class="modal-dialog shadow-lg-dark">
      <div class="modal-content">
        
        <!--start Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!--end Modal Header -->
    
        <!--start Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Subject" [(ngModel)]="txtSubject">
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Message Here" [(ngModel)]="txtMessage">
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="txtdPin">
                </mat-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
                <button mat-raised-button color="primary" (click)="send()" data-dismiss="modal"><span class="fa fa-paper-plane"></span></button>
            </div>
          </div>
          <br/>
        </div>
        <!--end Modal body -->

        <!--start Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <!--end Modal footer -->

      </div>
    </div>
</div>
<!-- End Modal Window to send message -->

<!-- row - charts -->
<div class="container">
  <div class="row">
    <div class="col-md-6 shadow-md">
      <!-- pie-chart -->
      <div class="pie_chart">
        <div [chart]="Pie_Chart" (click)="pie_data()"></div>
      </div>
    </div>
    <div class="col-md-6 shadow-md">
      <!--Line chart-->
      <div class="line_chart">
        <div [chart]="Line_chart"></div>
      </div>
    </div>
  </div>
</div><!-- end row - charts -->