
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .pointerCursor{
    cursor: pointer;
  }

  #note {
    position: absolute;
    z-index: 101;
    top: 10;
    left: 70em;
    right: 2em;
    background: #32CD32;
    color:white;
    text-align: center;
    line-height: 5.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px #32CD32;
    -moz-box-shadow:    0 0 5px #32CD32;
    box-shadow:         0 0 5px black;
}
  