<br><br>
<div class="row">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <h1>
      User Profiles
    </h1>
    <hr>    
  </div>
</div>
<div class="row">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-md-1"></div>
  <div class="col-md-2 up_headbox">
    <h2>15</h2><br>
    <h5>additions</h5><br><br>
    for last 2 months
  </div>
  <div class="col-md-2 up_headbox">
    <h2>10</h2><br>
    <h5>Updations</h5><br><br>
    for last 2 months    
  </div>
  <div class="col-md-2 up_headbox">
    <h2>05</h2><br>
    <h5>Banned</h5><br><br>
    for last 2 months    
  </div>
  <div class="col-md-4">
      <div [chart]="chart" style=" height: 200px;width:450px;"></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2" style="border:1px solid black">
      <i class="fas fa-trash-alt"></i>
  </div>
  <div class="col-md-7">
    
  </div>
  <div class="col-md-2">
      <button mat-button color="primary">Add New</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
      <!-- <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field> -->
  </div> 
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
     
  </div>
</div>

