<!-- heading row -->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">User Profiles</h1>
  </div>
</div>
<!-- end heading row -->

<br>
<!-- box container -->
<div class="container">
  <div class="row">
    <div class="col-md-2 up_headbox" style="display: block;text-align: center;">
      <br />
      <h2>{{countAddition}}</h2>
      <h3>Additions</h3><br> for last 2 months
    </div>
    <div class="col-md-2 up_headbox" style="display: block;text-align: center;">
      <br />
      <h2>{{countUpdation}}</h2>
      <h3>Updations</h3><br> for last 2 months
    </div>
    <div class="col-md-2 up_headbox" style="display: block;text-align: center;">
      <br />
      <h2>{{countBanned}}</h2>
      <h3>Banned</h3><br> for last 2 months
    </div>
    <div class="col-md-4">
      <div [chart]="chart" style=" height: 200px;width:560px;" class="allBorder"></div>
    </div>
  </div>
</div>
<!-- end box container -->
<br>

<!--start buttons row-->
<div class="row">
  <div class="col-md-6">
    <button mat-raised-button color="warn">Print</button>
  </div>
  <div class="col-md-6 text-right">
    <button mat-raised-button color="primary" data-toggle="modal" data-target="#userModal">Add New</button>
  </div>
</div>
<!--end buttons row-->
<br>

<!-- Start User Profile Container -->
<div class="container bgWhite allBorder">
  <br>
  <!--Start search textbox Row-->
  <div class="row">
    <div class="col-md-12">
      <mat-form-field>
        <input matInput [(ngModel)]="userSearch" placeholder="Search">
      </mat-form-field>
      <i class="fab fa-accessible-icon"></i>
    </div>
  </div>
  <!--end search textbox Row-->

  <!--Start table Row-->
  <div class="row">
    <table class="table table-striped fullwidth" id="myTable">
      <thead>
        <tr class="d-flex">
          <th class="col-1 text-center">Sr No.</th>
          <th [class.active]="order === 'uName'" (click)="setOrder('uName')" class="col-2 text-left pointerCursor">
            User Name
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'uEmail'" (click)="setOrder('uEmail')" class="col-2 text-left pointerCursor">
            Email
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'uRole'" (click)="setOrder('uRole')" class="col-1 text-left pointerCursor">
            Role
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'uSince'" (click)="setOrder('uSince')" class="col-2 text-left pointerCursor">
            User Since
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th [class.active]="order === 'lastLogin'" (click)="setOrder('lastLogin')" class="col-2 text-left pointerCursor">
            Last Login
            <span class="fa fa-angle-double-down" [hidden]="reverse"></span>
            <span class="fa fa-angle-double-up" [hidden]="!reverse"></span>
          </th>
          <th class="col-2 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class='d-flex' *ngFor="let emp of userData | search:'uId,uName,uEmail,uRole,uSince,lastLogin':userSearch | paginate: { itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive'; let i=index">
          <td class="col-1 text-center">{{i+1}}</td>
          <td class="col-2 text-left">{{emp.uName}}</td>
          <td class="col-2 text-left">{{emp.uEmail}}</td>
          <td class="col-1 text-left">{{emp.uRole}}</td>
          <td class="col-2 text-left">{{emp.uSince}}</td>
          <td class="col-2 text-left">{{emp.lastLogin}}</td>
          <td class="col-2 text-center"><span class="fa fa-exclamation-circle pointerCursor fontPrimary" data-toggle="modal"
              data-target="#actionModal"></span></td>
        </tr>
<!-- <tr *ngFor="let item of userData | search:'indvdlFirstName,emailAddrss,type,':userSearch | paginate: { itemsPerPage: itemPerPage, currentPage: p } | orderBy: order:reverse:'case-insensitive'"
  class='d-flex'>
          <td class="col-1 text-center">{{item.uid}}</td>
          <td class="col-2">{{item.indvdlFirstName}}</td>
          <td class="col-2">{{item.emailAddrss}}</td>
          <td class="col-1">{{item.type}}</td>
          <td class="col-2">udartertertte</td>
          <td class="col-2">loginDasadaste</td>
          <td class="col-2 text-center">
            <span class="fa fa-exclamation-circle pointerCursor fontPrimary" data-toggle="modal" (click)="edit(item, 'block')"
              data-target="#actionModal"></span>
          </td>
        </tr> -->
      </tbody>
    </table>
     <!-- Pagination Starts -->
    <div class="col-md-10">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-2 text-right">
      <mat-form-field class="fullwidth pagenateList">
        <mat-select placeholder="Items Per Page" [(ngModel)]="itemPerPage">
          <mat-option value="10">10</mat-option>
          <mat-option value="15">15</mat-option>
          <mat-option value="20">20</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="30">30</mat-option>
          <mat-option value="35">35</mat-option>
          <mat-option value="40">40</mat-option>
          <mat-option value="45">45</mat-option>
          <mat-option value="50">50</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Pagination Ends -->
  </div>
  <!-- end table row -->
  <br />
</div>
<!-- End User Profile Container -->
<br><br><br>

<!-- Start Modal Window to add & update new user -->
<div class="modal fade" id="userModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">

      <!--start user Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end user Modal Header -->

      <!--start user Modal body -->
      <div class="modal-body">
        <br>
        <div class="row">
          <div class="col-md-8">
            <mat-radio-group [(ngModel)]="rdbType" (click)="getFilterItem($event)">
              <div class="row">
                <div class="col-md-6">
                  <mat-radio-button value="employee">Employee</mat-radio-button>
                </div>
                <div class="col-md-6">
                  <mat-radio-button value="visitor">Visitor</mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>

        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select User" [(ngModel)]="cmbEmployee" (ngModelChange)="edit($event, 'link')"
                required>
                <input type="text" class="form-control" [(ngModel)]="searchEmployee">
                <mat-option *ngFor="let item of getFilterItem(rdbType) | search:'indvdlFirstName,emailAddrss':searchEmployee"
                  [value]="item">
                  <table>
                    <tr class='d-flex'>
                      <td class="col-4">{{ item.indvdlId }}</td>
                      <td class="col-4 border-left">{{ item.indvdlFirstName }}</td>
                      <td class="col-4 border-left">{{ item.emailAddrss }}</td>
                    </tr>
                  </table>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <br>

        <div class="container" id='hiddenDiv'>
          <div class="row">
            <div class="col-md-2">
              <label style="color:#3f51b5">Email</label>
            </div>
            <div class="col-md-4 text-left border-bottom border-left" type="Email">{{partyEmail}}</div>
            <div class="col-md-3">
              <label style="color:#3f51b5">Father Name</label>
            </div>
            <div class="col-md-3 text-left border-bottom border-left" type="text">{{partyFatherName}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <label style="color:#3f51b5">Department</label>
            </div>
            <div class="col-md-4 text-left border-bottom border-left" type="text">{{partyDepartment}}</div>
            <div class="col-md-3">
              <label style="color:#3f51b5">Branch</label>
            </div>
            <div class="col-md-3 text-left border-bottom border-left" type="text">{{partyBranch}}</div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <label style="color:#3f51b5">Address</label>
            </div>
            <div class="col-md-10 text-left border-bottom border-left" type="text">{{partyAddress}}</div>
          </div>
          <br />
          <div class="row" *ngIf="showLink">
            <div class="col-md-2">
              <label style="color:#3f51b5">Link</label>
            </div>
            <div class="col-md-4 text-left border-bottom border-left">
              <mat-hint><a href="http://{{userLink + userLinkCode}}" target="_blank">{{userLink + userLinkCode}}</a></mat-hint>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12" id="userNameEnable">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" type="text" [(ngModel)]="txtUsername" [disabled]="!disabledPassword"
                required>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6" id="userPassEnable">
            <mat-form-field class="example-full-width">
              <input matInput #password placeholder="Password" type="password" [(ngModel)]="txtPassword" [disabled]="!disabledPassword"
                required>
            </mat-form-field>
            <mat-password-strength [password]="password.value">
            </mat-password-strength>
          </div>
          <div class="col-md-6" id="userCnfrmPassEnable">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="txtCnfrmPassword" [disabled]="!disabledPassword"
                required>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="disabledPassword">Enable
                Password</mat-checkbox>
            </section>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="primary" [disabled]="(disabledPassword) ? false : true" (click)="saveEmployee()">Save
              & Send</button>
          </div>

          <div class="col-md-6">
            <button mat-raised-button color="primary" [disabled]="(disabledPassword) ? true : false">Send</button>
          </div>

        </div>
        <br />
      </div>
      <!--end user Modal body -->

      <!--start user Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end user Modal footer -->
    </div>
  </div>
</div>
<!-- End Modal Window to add & update new user -->

<!-- Start Action Modal Window -->
<div class="modal fade" id="actionModal">
  <div class="modal-dialog shadow-lg-dark">
    <div class="modal-content">

      <!--Start Action Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Action Modal</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--End Action Modal Header -->

      <!--start Action Modal body -->
      <div class="modal-body">
        <br>
        <!-- <div class="hidden" [(ngModel)]="employeeId" ngDefaultControl></div> -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <mat-select placeholder="Select Action" [(ngModel)]="listAction" (ngModelChange)="onActionChange()"
                required>

                <mat-option *ngFor="let item of actions" [value]=" item.actionName">
                  {{item.actionName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="actionBlockRow">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <mat-select placeholder="Select Block Time" [(ngModel)]="listBlockedAction" required>
                <mat-option *ngFor="let blk of blocks" [value]="blk.blockId">
                  {{blk.blockName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="actionPassRow">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput type="password" placeholder="Enter Password" [(ngModel)]="txtActionPassword" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="actionPINCodeRow">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input id="idTxtActPIN" matInput type="password" placeholder="Enter PIN Code" [(ngModel)]="txtActionPIN"
                required>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="primary" (click)="saveAction()">Save</button>
          </div>
        </div>
        <br />
      </div>
      <!--End Action Modal body -->

      <!--start Action Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Action Modal footer -->

    </div>
  </div>
</div>
<!-- End Action Modal Window -->
