<div id="alert_msg_success" *ngIf="edited">
  Action Successfully Post
</div>

<div id="alert_msg_warn" *ngIf="edited1">
  Action Successfully Deleted
</div>
  
<!--start heading row-->
<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="bottomBorder">Chart of Account</h1>    
  </div>
</div>
<!--end heading row-->
<br/>

<!--start row-->
<div class="row">
  <!--start company select box column-->
  <div class="col-md-6">
    <button mat-raised-button color="warn">Print</button>
  </div>
  <!--end company select box column-->
  
  <!--start add new role button column    -->
  <div class="col-md-6 text-right">
    <button mat-raised-button color="primary" data-toggle="modal" data-target="#coaModal">Add New</button>
    <br/><br/>
    <button mat-raised-button color="primary" data-toggle="modal" data-target="#gDepModal">Generate Depriciation</button>
    <br/><br/>
  </div>
  <!--end add new role button column-->
</div>
<!--end row-->

<div class="container">
  <!--start table row-->
  <div class="row">    
      <!--start company select box column-->
      <div class="col-md-12">
          <p-treeTable [value]="files">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                      <th>Size</th>
                      <th>Type</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr>
                      <td>
                          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                          {{rowData.name}}
                      </td>
                      <td>{{rowData.size}}</td>
                      <td>{{rowData.type}}</td>
                  </tr>
              </ng-template>
          </p-treeTable>
      </div>
      <!--end company select box column-->
  </div>
<!--end row-->
</div>
<!--end company dashboard container without white background and borders-->
<br/>

<!--bootstrap modal window -->


<!-- Start chart of account Modal Window -->
<div class="modal fade" id="coaModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chart of Account</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
          <!--end Modal Header -->
  
      <!--start Modal body -->
      <div class="modal-body">
        <!--Row #1-->  
        <div class="row">
          <!--Level 1-->
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Level 1">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--Account Code-->
          <div class="col-md-6">
            <br/>
            Account Code (Label)
          </div>
        </div><!--end of row #1 -->

        <!--Row #2-->  
        <div class="row">
          <!--Level 2 col-->
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Level 2">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--Account Title column-->
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Account Title">
            </mat-form-field>
          </div>
        </div><!--end of row #2 -->

        <!--Row #3-->  
        <div class="row">
          <!--Level 3 column-->
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Level 3">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--income / balance -->
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Income/Balance">
                <mat-option value="option1">Income</mat-option>
                <mat-option value="option2">Balance</mat-option>
                <mat-option value="option3">Both</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div><!--end of row #3 -->

        <!--Row #4-->  
        <div class="row">
          <!--Level 4 column-->
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Level 4">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--Account Type column-->
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Account Type">
                <mat-option value="option1">Heading</mat-option>
                <mat-option value="option2">Posting</mat-option>
                <mat-option value="option3">Both</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div><!--end of row #4 -->

        <!--Row #5-->  
        <div class="row">
          <!--level 5 column-->
          <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Level 5">
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
          </div>

          <!-- column-->
          <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Gen. Posting Type" >
                  <mat-option value="option1">Sale</mat-option>
                  <mat-option value="option2">Purchase</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div><!--end of row #5 -->

        <!--Row #6-->  
        <div class="row">
          <!--Level 6 column-->
          <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Level 6">
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
          </div>

          <!--Currency Allowed Column-->
          <div class="col-md-6">
            <!-- <mat-form-field>
                <mat-select placeholder="Currency Allowed">
                  <mat-option value="option1">PKR</mat-option>
                  <mat-option value="option2">Doller</mat-option>
                </mat-select>
            </mat-form-field> -->

            <!--  -->

            <p-multiSelect [options]="cars" [(ngModel)]="selectedCars1" [panelStyle]="{minWidth:'12em'}" ></p-multiSelect>
            <!-- <p>Selected Cars: {{selectedCars1}}</p> -->
          </div>
        </div><!--end of row #6 -->

        <!--Row #7-->  
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Level 7">
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!--end of row #7 -->

        <!--Row #8-->  
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Level 8">
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div><!--end of row #8 -->

        <!--Row #9-->  
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button color="primary">Save</button>
          </div>
        </div><!--end of row #9 -->

        <div class="row">
          <div class="col-md-12">

            

          </div>
        </div>

      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
  </div>
</div>
  <!-- End chart of account Modal Window  -->
  

  <!-- Start Modal Window to generate depriciation modal -->
<div class="modal fade" id="gDepModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Generate Depriciation</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body"> 
        <!--start date row  -->
        <div class="row">
          <div class="col-md-12">
            <p-calendar [(ngModel)]="voucherDate" placeholder="Voucher Date" [showIcon]="true"></p-calendar>
          </div>
        </div>
        <!--end date row-->
        <br/>
        <!--start table row-->       
        <div class="example-container mat-elevation-z8">
          <div class="example-table-container">                      
            <table class="table table-striped">
              <thead>
                <tr class='d-flex'>
                  <th class='col-2'>G/L Code</th>
                  <th class='col-5'>Description</th>
                  <th class='col-3'>Dep. Amount</th>
                  <th class='col-1'>Detail</th>
                  <th class='col-1'>Post</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                <tr class='d-flex'>
                  <td class='col-2'>100100</td>             
                  <td class='col-5'>Vehicle</td>
                  <td class='col-3'>550,000</td>
                  <td class='col-1 text-right'><span class="fa fa-file-text pointerCursor" data-toggle="modal" data-target="#gDepDetailModal"></span></td>
                  <td class='col-1 text-right'><span class="fa fa-check-circle pointerCursor" (click)="post()" data-dismiss="modal"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end table row-->    
        <br/>   
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to generate depriciation modal -->
 
<!-- Start Modal Window to generate depriciation detail modal -->
<div class="modal fade" id="gDepDetailModal">
  <div class="modal-dialog shadow-lg-dark modal-lg">
    <div class="modal-content">
      
      <!--start Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Generate Depriciation Detail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--end Modal Header -->

      <!--start Modal body -->
      <div class="modal-body"> 
        <!--start table row-->       
        <div class="example-container mat-elevation-z8">
          <div class="example-table-container">                      
            <table class="table table-striped">
              <thead>
                <tr class='d-flex'>
                  <th class='col-4'>Item</th>
                  <th class='col-2'>Amount Before Dep.</th>
                  <th class='col-2'>Dep.</th>
                  <th class='col-2'>Amount After Dep.</th>
                  <th class='col-2 text-right'>Delete</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let item of userDetail | search:'UserName,Email': query" class='d-flex'> -->
                <tr class='d-flex'>
                  <td class='col-4'>Corolla XLI</td>             
                  <td class='col-2'>1,400,000</td>
                  <td class='col-2'>50,000</td>
                  <td class='col-2'>1,350,000</td>
                  <td class='col-2 text-right'><span class="fa fa-trash pointerCursor text-right" (click)="delete()" data-dismiss="modal"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end table row-->    
        <br/>   
      </div>
      <!--end Modal body -->

      <!--start Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <!--end Modal footer -->

    </div>
  </div>
</div>
<!-- End Modal Window to generate depriciation detail modal -->
  