<!--The content below is only a placeholder and can be replaced.-->

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <!-- Side Menu Title -->
        <div class="row">
            <div class="col-md-4">
                <button type="button" routerLink='' class="noneOutLine bg-light-green sideMenuHome borderbottom"  mat-flat-button>
                    <span class="fa fa-home"></span>
                </button>
            </div>        
        </div><!-- end Side Menu Title -->
        <br><br>

        <!-- Menue Title -->
        <div class="row">
            <div class="col-md-12">
                <h5 class="sideMenuTitle bg-indigo text-center">Menu</h5>
            </div>
        </div><!-- end menu title -->

        <!-- UMIS Menu -->
        <div class="row">
            <!-- <button mat-button routerLink="budget" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg topBorderOnBlackBg"> &nbsp;&nbsp;Budgeting</button>
            <button mat-button routerLink="coa" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;G/L Accounts</button>
            <button mat-button routerLink="bankAccount" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Bank Accounts</button>
            <button mat-button routerLink="taxSection" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Tax Sections</button>
            <button mat-button routerLink="payment" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Payment Transactions</button>
            <button mat-button routerLink="receipt" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Receipt Transactions</button>
            <button mat-button routerLink="adjustment" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Adjustmment Transactions</button>
            <button mat-button routerLink="fixAsset" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Fix Asset Register</button>            
            <button mat-button routerLink="ledger" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Ledger Accounts</button>
            <button mat-button routerLink="trailbalance" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Trial Balance</button>
            <button mat-button routerLink="bankRecon" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Bank Reconciliation</button>
            <button mat-button routerLink="incomeStatement" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Income Statement</button>
            <button mat-button routerLink="balanceSheet" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Balance Sheet</button>
            <button mat-button routerLink="cashFlow" class="fullwidth noneOutLine text-left fontWhite bottomBorderOnBlackBg">&nbsp;&nbsp;Cash Flow Statement</button> -->
        </div><!-- end UMIS Menu -->

    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="row bgWhite bottomBorder">
            <div class="col-md-1">
                <button type="button" class="noneOutLine"  mat-flat-button color="warn" (click)="drawer.toggle()">
                    <span class="fa fa-bars sideMenubar"></span>
                </button>
            </div>
            <div class="col-md-5">
                <h4>HMIS</h4>
            </div>
            <div class="col-md-6 text-right">
                <button mat-button [matMenuTriggerFor]="menu" class="noneOutLine">
                    Haroon Qadeer
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="noneOutLine" routerLink="">
                        <!-- <mat-icon>dialpad</mat-icon> -->
                        <span class="fa fa-sign-out"></span>
                        <span>  Log out</span>
                    </button>
                    <button mat-menu-item class="noneOutLine">
                        <!-- <mat-icon>voicemail</mat-icon> -->
                        <span class="fa fa-user"></span>
                        <span>  Haroonqd</span>
                    </button>                
                </mat-menu>
            </div>
            
        </div>
        
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
